
<!-- section footer -->
<footer class="prague-footer default s-back-switch"
    style="background-image: url(&quot;assets/images/footer.jpg&quot;);">

    <img width="2500" height="1248"
        src="assets/images/footer.jpg"
     style="display: none;">
    <div class="footer-content-outer">

        <div class="footer-top-content">
            <div class="prague-footer-main-block">

                <div class="housix-logo">
                    <a href="assets/favicon/housixLogo.png">
                        <img width="70" height="55"
                            src="assets/favicon/housixLogo.png"
                            class="attachment-full size-full" alt=""> </a>
                </div>

                <div class="footer-main-content">
                    <p>The company principle of Architecture-Studio is the collective conception. From the very
                        beginning, the practice has believed in the virtues of exchange, crossing ideas, common effort,
                        shared knowledge and enthusiasm.</p>
                </div>

            </div>
            <div class="prague-footer-info-block">

                <h6 class="footer-info-block-title">GET IN TOUCH</h6>

                <div class="footer-info-block-content">
                    <p><a href="">999999999999</a></p>
                    <p><a href="">housix.com</a></p>
                    <p>addressss</p>
                </div>

            </div>
        </div>
        <div class="footer-bottom-content">

            <!-- Footer copyright -->
            <div class="footer-copyright">
                <p>HOUSIX ALL RIGHTS RESERVED</p>
            </div>
            <!-- End footer copyright -->

            <div class="prague-social-nav">


                <ul class="social-content">
                    <li>
                        <a target="_blank" href="https://www.behance.net/foxthemes">
                            <i aria-hidden="true" class="fa fa-behance"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://twitter.com/foxthemes_offic">
                            <i aria-hidden="true" class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.facebook.com/foxthemes.page/">
                            <i aria-hidden="true" class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.pinterest.com/foxthemes/">
                            <i aria-hidden="true" class="fa fa-pinterest-p"></i>
                        </a>
                    </li>
                </ul>

            </div>

        </div>
    </div>




</footer>