<section class="mb-5">
    <div class="wpb_column vc_column_container vc_col-sm-12 ">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <!-- website -->
                <div id="main">
                <section class="container-fluid top-banner no-padd big fullheight light s-back-switch"
                    style="background-image: url('assets/images/home1.jpg'); min-height: 100vh;">
                    <span class="overlay"></span> <img class="s-img-switch" alt="" style="display: none;">
                    <div class="content">
                        <div class="prague-svg-animation-text">
                        </div>
                        <div class="subtitle">ABOUT ME</div>
                        <h1 class="title">I’m focus on creative work
                            and shared knowledge</h1>
                    </div>
                    <div class="top-banner-cursor"></div>
                </section>
                </div>
                <!-- mobile -->
                <div id="main1">
                    <section class="container-fluid top-banner no-padd big fullheight light s-back-switch"
                        style="background-image: url('assets/images/home1.jpg'); min-height: 70vh; width: 100%;">
                        <span class="overlay"></span> <img class="s-img-switch" alt="" style="display: none;">
                        <div class="content">
                            <div class="prague-svg-animation-text">
                            </div>
                            <div class="subtitle">ABOUT ME</div>
                            <h1 class="title">I’m focus on creative work
                                and shared knowledge</h1>
                        </div>
                        <div class="top-banner-cursor"></div>
                    </section>
                    </div>
            </div>
        </div>
    </div>
</section>

<!-- section-2 -->
<!-- 
 <div class="gfg">
  <img class = "bg" src="assets/images/meeting.svg" alt="" >   
    <div class="second-txt">
        <h2 >
            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            WE MAKE</h2>
        <h3 style=" color: #e54a20 !important; font-family: Sofia, sans-serif !important;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Our Customer</h3>
        <h2>       &nbsp;&nbsp;&nbsp;    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           
            Happy</h2>
    </div>
</div>  -->







<section class="mb-5 py-3 section2Bg heading left dark  ">
    <div id="girl">
        <div class="row">
            <div class="col-lg-6 ">
                <div class="text-center">
                    <img src="assets/images/about.png" alt="asset" class="w-100 h-120">
                </div>
            </div>


            <div class="col-lg-5">
                <div class="my-2">
                    <div class="subtitle ">ABOUTE ME</div>
                    <h2 class="title">Make with love all what i do.</h2>
                </div>
                <div class="my-2">
                    <div class="description">
                        <p>I am final year Creative Computing student at Napier University in Edinburgh, working part
                            time
                            as a graphic designer. I also have a passion for 3D, especially environment art and hard
                            surface
                            modelling. I am proficient with many different tools, but my personal favourite is 3ds Max.
                            I
                            consider myself real-time rendering connoisseur. I also have great appreciation for digital
                            sculpting. Selection of my most up to date works can be seen in the portfolio section..</p>
                        <div class="content ">
                            <h6>MY SKILLS</h6>
                            <ul>
                                <li>3ds Max</li>
                                <li>Unreal Engine 4</li>
                                <li>Substance Suite</li>
                                <li>Marmoset Toolbag</li>
                            </ul>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile -->
    <div id="girl1">
        <div class="row">
            <div class="col-sm-4 ">
                <div class="text-center">
                    <img src="assets/images/about.png" alt="asset" height="100%" width="180%"
                        style="padding-right: 80%;">
                </div>
            </div>


            <div class="col-sm-5">
                <div class="my-2">
                    <div class="subtitle ">ABOUTE ME</div>
                    <h2 class="title">Make with love all what i do.</h2>
                </div>
                <div class="my-2">
                    <div class="description">
                        <p>I am final year Creative Computing student at Napier University in Edinburgh, working part
                            time
                            as a graphic designer. I also have a passion for 3D, especially environment art and hard
                            surface
                            modelling. I am proficient with many different tools, but my personal favourite is 3ds Max.
                            I
                            consider myself real-time rendering connoisseur. I also have great appreciation for digital
                            sculpting. Selection of my most up to date works can be seen in the portfolio section..</p>
                        <div class="content ">
                            <h6>MY SKILLS</h6>
                            <ul>
                                <li>Marmoset Toolbag</li>
                                <li>Marmoset Toolbag</li>
                                <li>Marmoset Toolbag</li>
                                <li>Marmoset Toolbag</li>
                            </ul>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- secion 3 -->
<section class="mb-5">
    <!-- website -->
    <div id="ab">
        <div data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true"
            class="vc_row wpb_row vc_row-fluid vc_row-no-padding margin-lg-75t margin-sm-20t"
            style="position: relative;  box-sizing: border-box;">
            <div class="wpb_column vc_column_container vc_col-sm-12 ">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="prague-shortcode-parent ">
                            <div class="prague-shortcode-parent-img s-back-switch"
                                style="background-image: url(&quot;assets/images/home3.jpg&quot;);">
                                <span class="overlay"></span>
                                <img src="assets/images/home3.jpg" class="s-img-switch" alt="" style="display: none;">
                            </div>

                            <div class="prague-shortcode-content-wrapp">
                                <div class="prague-shortcode-heading  light left">
                                    <div class="parent-subtitle">
                                        <h2 class="text-white">SERVICES</h2>
                                    </div>

                                    <h2 class="parent-title text-white">This is what I do.</h2>
                                </div>

                                <div data-unique-key="0bf3c8aa9017e52dd041b7e2c3327621" class="js-load-more"
                                    data-start-page="1" data-max-page="2"
                                    data-next-link="https://prague.foxthemes.me/about-me/page/2/">
                                    <div class="row prague_services prague_count_col3 prague_gap_col15  no-footer-content prague-load-wrapper"
                                        data-columns="prague_count_col3" data-gap="prague_gap_col15"
                                        style="position: relative; height: 414px;">
                                        <div class="portfolio-item-wrapp prague_filter_class  p_f_f9e81a7"
                                            style="position: absolute; left: 0px; top: 0px;">
                                            <div class="portfolio-item">

                                                <div class="prague-services-wrapper">

                                                    <mat-card class="example-card mat-elevation-z0 ">
                                                        <mat-icon> compass_calibration</mat-icon>
                                                        <h3>
                                                            <mat-card-title>Planning</mat-card-title>
                                                        </h3>

                                                        <mat-card-content>
                                                            <p>Our master plans provide a comprehensive look at where an
                                                                organization is today</p>
                                                        </mat-card-content>
                                                        <mat-card-actions>

                                                            <a href=""
                                                                class="prague-services-link a-btn-2 creative anima"
                                                                target="_self">
                                                                <span class="a-btn-line"></span>
                                                                READ </a>
                                                        </mat-card-actions>
                                                    </mat-card>


                                                </div>

                                            </div>
                                        </div>
                                        <div class="portfolio-item-wrapp prague_filter_class  p_f_f9e81a7 column_paralax"
                                            style="position: absolute; left: 400px; top: 0px;">

                                            <div class="portfolio-item">

                                                <div class="prague-services-wrapper">

                                                    <mat-card class="example-card mat-elevation-z0 ">
                                                        <mat-icon> lightbulb</mat-icon>
                                                        <h3>
                                                            <mat-card-title>Interior</mat-card-title>
                                                        </h3>

                                                        <mat-card-content>
                                                            <p>You may engage your architect to provide an interior
                                                                design
                                                                service, advising on loose furniture</p>
                                                        </mat-card-content>
                                                        <mat-card-actions>
                                                            <a href=""
                                                                class="prague-services-link a-btn-2 creative anima"
                                                                target="_self">
                                                                <span class="a-btn-line"></span>
                                                                READ </a>
                                                        </mat-card-actions>
                                                    </mat-card>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="portfolio-item-wrapp prague_filter_class  p_f_f9e81a7"
                                            style="position: absolute; left: 800px; top: 0px;">
                                            <div class="portfolio-item">

                                                <div class="prague-services-wrapper">
                                                    <mat-card class="example-card mat-elevation-z0 ">
                                                        <mat-icon> layers</mat-icon>
                                                        ,<h3>
                                                            <mat-card-title>Exterior</mat-card-title>
                                                        </h3>

                                                        <mat-card-content>
                                                            <p>Working together with your architect, you will share your
                                                                project
                                                                needs, dreams and goals.</p>
                                                        </mat-card-content>
                                                        <mat-card-actions>
                                                            <a href=""
                                                                class="prague-services-link a-btn-2 creative anima"
                                                                target="_self">
                                                                <span class="a-btn-line"></span>
                                                                READ </a>
                                                        </mat-card-actions>
                                                    </mat-card>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile -->
    <div id="ab1">
        <div data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true"
            class="vc_row wpb_row vc_row-fluid vc_row-no-padding margin-lg-75t margin-sm-20t"
            style="position: relative;  box-sizing: border-box;">
            <div class="wpb_column vc_column_container vc_col-sm-12 ">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="prague-shortcode-parent ">
                            <div class="prague-shortcode-parent-img s-back-switch"
                                style="background-image: url(&quot;assets/images/home3.jpg&quot;);">
                                <span class="overlay"></span>
                                <img src="assets/images/home3.jpg" class="s-img-switch" alt="" style="display: none;">
                            </div>

                            <div class="prague-shortcode-content-wrapp">
                                <div class="prague-shortcode-heading  light left">
                                    <div class="parent-subtitle">
                                        <h2 class="text-white">SERVICES</h2>
                                    </div>

                                    <h2 class="parent-title text-white">This is what I do.</h2>
                                </div>

                                <div data-unique-key="0bf3c8aa9017e52dd041b7e2c3327621" class="js-load-more"
                                    data-start-page="1" data-max-page="2"
                                    data-next-link="https://prague.foxthemes.me/about-me/page/2/">
                                    <div class="row prague_services prague_count_col3 prague_gap_col15  no-footer-content prague-load-wrapper"
                                        data-columns="prague_count_col3" data-gap="prague_gap_col15"
                                        style="position: relative; height: 414px;">
                                        <div class="portfolio-item-wrapp prague_filter_class  p_f_f9e81a7"
                                            style="position: absolute; left: 0px; top: 0px;">
                                            <div class="portfolio-item">

                                                <div class="prague-services-wrapper">

                                                    <mat-card class="example-card mat-elevation-z0 ">
                                                        <mat-icon> compass_calibration</mat-icon>
                                                        <h3>
                                                            <mat-card-title>Planning</mat-card-title>
                                                        </h3>

                                                        <mat-card-content>
                                                            <p>Our master plans provide a comprehensive look at where an
                                                                organization is today</p>
                                                        </mat-card-content>
                                                        <mat-card-actions>
                                                            <br>
                                                            <a href=""
                                                                class="prague-services-link a-btn-2 creative anima"
                                                                target="_self">
                                                                <span class="a-btn-line"></span>
                                                                READ </a>
                                                        </mat-card-actions>
                                                    </mat-card>


                                                </div>

                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 2 -->
        <div data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true"
            class="vc_row wpb_row vc_row-fluid vc_row-no-padding margin-lg-75t margin-sm-20t"
            style="position: relative;  box-sizing: border-box;">
            <div class="wpb_column vc_column_container vc_col-sm-12 ">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="prague-shortcode-parent ">
                          

                            <div class="prague-shortcode-content-wrapp">
                              

                                <div data-unique-key="0bf3c8aa9017e52dd041b7e2c3327621" class="js-load-more"
                                    data-start-page="1" data-max-page="2"
                                    data-next-link="https://prague.foxthemes.me/about-me/page/2/">
                                    <div class="row prague_services prague_count_col3 prague_gap_col15  no-footer-content prague-load-wrapper"
                                        data-columns="prague_count_col3" data-gap="prague_gap_col15"
                                        style="position: relative; height: 414px;">


                                        <div class="portfolio-item-wrapp prague_filter_class  p_f_f9e81a7"
                                            style="position: absolute; left: 0px; top: 0px;">
                                            <div class="portfolio-item">

                                                <div class="prague-services-wrapper">

                                                    <mat-card class="example-card mat-elevation-z0 ">
                                                        <mat-icon> lightbulb</mat-icon>
                                                        <h3>
                                                            <mat-card-title>Interior</mat-card-title>
                                                        </h3>

                                                        <mat-card-content>
                                                            <p>You may engage your architect to provide an interior
                                                                design
                                                                service, advising on loose furniture</p>
                                                        </mat-card-content>
                                                        <mat-card-actions>
                                                            <br>
                                                            <a href=""
                                                                class="prague-services-link a-btn-2 creative anima"
                                                                target="_self">
                                                                <span class="a-btn-line"></span>
                                                                READ </a>
                                                        </mat-card-actions>
                                                    </mat-card>


                                                </div>

                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 3 -->
        <div data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true"
            class="vc_row wpb_row vc_row-fluid vc_row-no-padding margin-lg-75t margin-sm-20t"
            style="position: relative;  box-sizing: border-box;">
            <div class="wpb_column vc_column_container vc_col-sm-12 ">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="prague-shortcode-parent ">
                          

                            <div class="prague-shortcode-content-wrapp">
                              

                                <div data-unique-key="0bf3c8aa9017e52dd041b7e2c3327621" class="js-load-more"
                                    data-start-page="1" data-max-page="2"
                                    data-next-link="https://prague.foxthemes.me/about-me/page/2/">
                                    <div class="row prague_services prague_count_col3 prague_gap_col15  no-footer-content prague-load-wrapper"
                                        data-columns="prague_count_col3" data-gap="prague_gap_col15"
                                        style="position: relative; height: 414px;">


                                        <div class="portfolio-item-wrapp prague_filter_class  p_f_f9e81a7"
                                            style="position: absolute; left: 0px; top: 0px;">
                                            <div class="portfolio-item">

                                                <div class="prague-services-wrapper">

                                                    <mat-card class="example-card mat-elevation-z0 ">
                                                        <mat-icon> layers</mat-icon>
                                                        <h3>
                                                            <mat-card-title>Exterior</mat-card-title>
                                                        </h3>

                                                        <mat-card-content>
                                                            <p>Working together with your architect, you will share your
                                                                project
                                                                needs, dreams and goals.</p>
                                                        </mat-card-content>
                                                        <mat-card-actions>
                                                            <br>
                                                            <a href=""
                                                                class="prague-services-link a-btn-2 creative anima"
                                                                target="_self">
                                                                <span class="a-btn-line"></span>
                                                                READ </a>
                                                        </mat-card-actions>
                                                    </mat-card>


                                                </div>

                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- section 4  table-->

<section class="mb-5">
    <div class="container">
        <div class="vc_row wpb_row vc_row-fluid  margin-lg-15t margin-sm-20t">
            <div class="wpb_column vc_column_container vc_col-sm-12 ">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <section class="heading  left dark ">

                            <div class="subtitle ">TIMELINE</div>
                            <h2 class="title">Awards that I have.</h2>

                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!--website view  -->
    <div id="tab">
        <mat-grid-list cols="2" rowHeight="2:1.7">
            <div class="vc_row wpb_row vc_row-fluid">
                <mat-grid-tile>
                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-6 ">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="awards-list ">
                                    <div class="awards-item">
                                        <div class="awards-date">2016</div>

                                        <span class="awards-separator"></span>


                                        <div class="awards-info ">
                                            <a class="awards-title-link" href="">

                                                <h4 class="awards-title">University of Australia Innovation Quarter
                                                </h4>

                                            </a>

                                            <div class="awards-subtitle">Shortlist (3 Finalist among 400 entries)</div>
                                        </div>

                                    </div>
                                    <div class="awards-item">
                                        <div class="awards-date">2014</div>

                                        <span class="awards-separator"></span>


                                        <div class="awards-info ">
                                            <a class="awards-title-link" href="">

                                                <h4 class="awards-title">Park Design at Torrelodones </h4>

                                            </a>

                                            <div class="awards-subtitle">Special Prize of the Jury (2nd Prize)</div>
                                        </div>

                                    </div>
                                    <div class="awards-item">
                                        <div class="awards-date">2013</div>

                                        <span class="awards-separator"></span>


                                        <div class="awards-info ">
                                            <a class="awards-title-link" href="">

                                                <h4 class="awards-title">Taipei Museum of Art International Competition
                                                </h4>

                                            </a>

                                            <div class="awards-subtitle">Merit Award (among 590 entries)</div>
                                        </div>

                                    </div>
                                    <div class="awards-item">
                                        <div class="awards-date">2010</div>

                                        <span class="awards-separator"></span>


                                        <div class="awards-info ">
                                            <a class="awards-title-link" href="">

                                                <h4 class="awards-title">Intermediae Prado Madrid </h4>

                                            </a>

                                            <div class="awards-subtitle">1st Accesit</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </mat-grid-tile>
                <!--  -->
                <mat-grid-tile>
                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-6 ">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="awards-list ">
                                    <div class="awards-item">
                                        <div class="awards-date">2009</div>

                                        <span class="awards-separator"></span>


                                        <div class="awards-info ">
                                            <a class="awards-title-link" href="">

                                                <h4 class="awards-title">Center for Professional Activities Competition
                                                </h4>

                                            </a>

                                            <div class="awards-subtitle">Honourable Mention</div>
                                        </div>

                                    </div>
                                    <div class="awards-item">
                                        <div class="awards-date">2009</div>

                                        <span class="awards-separator"></span>


                                        <div class="awards-info ">
                                            <a class="awards-title-link" href="">

                                                <h4 class="awards-title">Mediterranean House</h4>

                                            </a>

                                            <div class="awards-subtitle">1st Prize</div>
                                        </div>

                                    </div>
                                    <div class="awards-item">
                                        <div class="awards-date">2006</div>

                                        <span class="awards-separator"></span>


                                        <div class="awards-info ">
                                            <a class="awards-title-link" href="">

                                                <h4 class="awards-title">Bancadas Theater spaces, Dance and Music </h4>

                                            </a>

                                            <div class="awards-subtitle">Honourable Mention</div>
                                        </div>

                                    </div>
                                    <div class="awards-item">
                                        <div class="awards-date">2005</div>

                                        <span class="awards-separator"></span>


                                        <div class="awards-info ">
                                            <a class="awards-title-link" href="">

                                                <h4 class="awards-title">Construtec La Paloma </h4>

                                            </a>

                                            <div class="awards-subtitle">Construtec La Paloma </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-grid-tile>
            </div>
        </mat-grid-list>
    </div>
    <!-- mobile -->
    <div id="tab1">
        <mat-grid-list cols="1" rowHeight="2:2.8">
            <div class="vc_row wpb_row vc_row-fluid">
                <mat-grid-tile>
                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-6 ">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="awards-list ">
                                    <div class="awards-item">
                                        <div class="awards-date">2016</div>

                                        <span class="awards-separator"></span>


                                        <div class="awards-info ">
                                            <a class="awards-title-link" href="">

                                                <h4 class="awards-title">University of Australia Innovation Quarter
                                                </h4>

                                            </a>

                                            <div class="awards-subtitle">Shortlist (3 Finalist among 400 entries)</div>
                                        </div>

                                    </div>
                                    <div class="awards-item">
                                        <div class="awards-date">2014</div>

                                        <span class="awards-separator"></span>


                                        <div class="awards-info ">
                                            <a class="awards-title-link" href="">

                                                <h4 class="awards-title">Park Design at Torrelodones </h4>

                                            </a>

                                            <div class="awards-subtitle">Special Prize of the Jury (2nd Prize)</div>
                                        </div>

                                    </div>
                                    <div class="awards-item">
                                        <div class="awards-date">2013</div>

                                        <span class="awards-separator"></span>


                                        <div class="awards-info ">
                                            <a class="awards-title-link" href="">

                                                <h4 class="awards-title">Taipei Museum of Art International Competition
                                                </h4>

                                            </a>

                                            <div class="awards-subtitle">Merit Award (among 590 entries)</div>
                                        </div>

                                    </div>
                                    <div class="awards-item">
                                        <div class="awards-date">2010</div>

                                        <span class="awards-separator"></span>


                                        <div class="awards-info ">
                                            <a class="awards-title-link" href="">

                                                <h4 class="awards-title">Intermediae Prado Madrid </h4>

                                            </a>

                                            <div class="awards-subtitle">1st Accesit</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </mat-grid-tile>
            </div>
        </mat-grid-list>
        <mat-grid-list cols="1" rowHeight="2:3.7">
            <mat-grid-tile>
                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-6 ">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="awards-list ">
                                <div class="awards-item">
                                    <div class="awards-date">2009</div>

                                    <span class="awards-separator"></span>


                                    <div class="awards-info ">
                                        <a class="awards-title-link" href="">

                                            <h4 class="awards-title">Center for Professional Activities Competition
                                            </h4>

                                        </a>

                                        <div class="awards-subtitle">Honourable Mention</div>
                                    </div>

                                </div>
                                <div class="awards-item">
                                    <div class="awards-date">2009</div>

                                    <span class="awards-separator"></span>


                                    <div class="awards-info ">
                                        <a class="awards-title-link" href="">

                                            <h4 class="awards-title">Mediterranean House</h4>

                                        </a>

                                        <div class="awards-subtitle">1st Prize</div>
                                    </div>

                                </div>
                                <div class="awards-item">
                                    <div class="awards-date">2006</div>

                                    <span class="awards-separator"></span>


                                    <div class="awards-info ">
                                        <a class="awards-title-link" href="">

                                            <h4 class="awards-title">Bancadas Theater spaces, Dance and Music </h4>

                                        </a>

                                        <div class="awards-subtitle">Honourable Mention</div>
                                    </div>

                                </div>
                                <div class="awards-item">
                                    <div class="awards-date">2005</div>

                                    <span class="awards-separator"></span>


                                    <div class="awards-info ">
                                        <a class="awards-title-link" href="">

                                            <h4 class="awards-title">Construtec La Paloma </h4>

                                        </a>

                                        <div class="awards-subtitle">Construtec La Paloma </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-grid-tile>

        </mat-grid-list>
    </div>
</section>

<!-- our awesome team section 5 -->
<section class="mb-5  ">

    <!-- <mat-grid-list class="grd" cols="1" rowHeight="25:1">
        <mat-grid-tile></mat-grid-tile>
    </mat-grid-list> -->

    <!--website  -->

    <div id="cad">
        <div class="row ">
            <div class="col-lg-6 ">
                <div class="text-center  pt-4">
                    <h2>OUR</h2>
                    <h3 class="lead" style=" color: #e54a20 !important; font-family: Sofia, sans-serif !important;">
                        Awesome</h3>
                    <h2>TEAM</h2>
                </div>
            </div>


            <div class="col-lg-5">
                <div class="my-5">
                    <h3>The right skills</h3>
                    <h3 style=" color: #e54a20 !important; font-family: Sofia, sans-serif !important;">For Your Success.
                    </h3>

                </div>
                <div class="my-2">
                    <div class="description font-weight-bolder">
                        <p>Our team has a wide range of skills: <br>
                            Design, Animation, Product and Project <br> Management, Business, Psychology, and more. <br>
                            And rumor has it that we are also fun to work with!</p>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="container">
            <mat-grid-list cols="4" rowHeight="2:1.5">

                <mat-grid-tile>
                    <mat-card class="example-card mat-elevation-z0">
                        <img mat-card-image height="160px" src="assets/images/female.svg" alt="Photo of a Shiba Inu">
                        <div class="text-center">
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Breed</mat-card-subtitle>
                        </div>
                    </mat-card>
                </mat-grid-tile>


                <mat-grid-tile>
                    <mat-card class="example-card mat-elevation-z0">
                        <img mat-card-image height="160" src="assets/images/female.svg" alt="Photo of a Shiba Inu">
                        <div class="text-center">
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Breed</mat-card-subtitle>
                        </div>
                    </mat-card>
                </mat-grid-tile>


                <mat-grid-tile>
                    <mat-card class="example-card mat-elevation-z0">
                        <img mat-card-image height="160" src="assets/images/female.svg" alt="Photo of a Shiba Inu">
                        <div class="text-center">
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Breed</mat-card-subtitle>
                        </div>
                    </mat-card>
                </mat-grid-tile>


                <mat-grid-tile>
                    <mat-card class="example-card mat-elevation-z0">
                        <img mat-card-image height="160" src="assets/images/female.svg" alt="Photo of a Shiba Inu">
                        <div class="text-center">
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Breed</mat-card-subtitle>
                        </div>
                    </mat-card>
                </mat-grid-tile>

            </mat-grid-list>
            <!-- <br> -->

            <mat-grid-list cols="4" rowHeight="2:1.5">

                <mat-grid-tile>
                    <mat-card class="example-card mat-elevation-z0">
                        <img mat-card-image height="160px" src="assets/images/female.svg" alt="Photo of a Shiba Inu">
                        <div class="text-center">
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Breed</mat-card-subtitle>
                        </div>
                    </mat-card>
                </mat-grid-tile>


                <mat-grid-tile>
                    <mat-card class="example-card mat-elevation-z0">
                        <img mat-card-image height="160" src="assets/images/male.svg" alt="Photo of a Shiba Inu">
                        <div class="text-center">
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Breed</mat-card-subtitle>
                        </div>
                    </mat-card>
                </mat-grid-tile>


                <mat-grid-tile>
                    <mat-card class="example-card mat-elevation-z0">
                        <img mat-card-image height="160" src="assets/images/male.svg" alt="Photo of a Shiba Inu">
                        <div class="text-center">
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Breed</mat-card-subtitle>
                        </div>
                    </mat-card>
                </mat-grid-tile>


                <mat-grid-tile>
                    <mat-card class="example-card mat-elevation-z0">
                        <img mat-card-image height="160" src="assets/images/male.svg" alt="Photo of a Shiba Inu">
                        <div class="text-center">
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Breed</mat-card-subtitle>
                        </div>
                    </mat-card>
                </mat-grid-tile>

            </mat-grid-list>

            <!-- <br> -->

            <!-- <mat-grid-list cols="4" rowHeight="2:1">

            <mat-grid-tile>
                <mat-card class="example-card mat-elevation-z0">
                    <img mat-card-image height="160px" src="assets/images/male.svg" alt="Photo of a Shiba Inu">
                    <div class="text-center">
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Breed</mat-card-subtitle>
                    </div>
                </mat-card>
            </mat-grid-tile>


            <mat-grid-tile>
                <mat-card class="example-card mat-elevation-z0">
                    <img mat-card-image height="160" src="assets/images/male.svg" alt="Photo of a Shiba Inu">
                    <div class="text-center">
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Breed</mat-card-subtitle>
                    </div>
                </mat-card>
            </mat-grid-tile>


            <mat-grid-tile>
                <mat-card class="example-card mat-elevation-z0">
                    <img mat-card-image height="160" src="assets/images/female.svg" alt="Photo of a Shiba Inu">
                    <div class="text-center">
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Breed</mat-card-subtitle>
                    </div>
                </mat-card>
            </mat-grid-tile>


            <mat-grid-tile>
                <mat-card class="example-card mat-elevation-z0">
                    <img mat-card-image height="160" src="assets/images/female.svg" alt="Photo of a Shiba Inu">
                    <div class="text-center">
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Breed</mat-card-subtitle>
                    </div>
                </mat-card>
            </mat-grid-tile>

        </mat-grid-list> -->
            <!-- <br> -->

            <!-- <mat-grid-list cols="4" rowHeight="2:1">

            <mat-grid-tile>
                <mat-card class="example-card mat-elevation-z0">
                    <img mat-card-image height="160px" src="assets/images/female.svg" alt="Photo of a Shiba Inu">
                    <div class="text-center">
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Breed</mat-card-subtitle>
                    </div>
                </mat-card>
            </mat-grid-tile>


            <mat-grid-tile>
                <mat-card class="example-card mat-elevation-z0">
                    <img mat-card-image height="160" src="assets/images/female.svg" alt="Photo of a Shiba Inu">
                    <div class="text-center">
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Breed</mat-card-subtitle>
                    </div>
                </mat-card>
            </mat-grid-tile>


            <mat-grid-tile>
                <mat-card class="example-card mat-elevation-z0">
                    <img mat-card-image height="160" src="assets/images/female.svg" alt="Photo of a Shiba Inu">
                    <div class="text-center">
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Breed</mat-card-subtitle>
                    </div>
                </mat-card>
            </mat-grid-tile>


            <mat-grid-tile>
                <mat-card class="example-card mat-elevation-z0">
                    <img mat-card-image height="160" src="assets/images/female.svg" alt="Photo of a Shiba Inu">
                    <div class="text-center">
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Breed</mat-card-subtitle>
                    </div>
                </mat-card>
            </mat-grid-tile>

        </mat-grid-list>  -->



        </div>

    </div>

    <!-- mobile -->
    <div id="cad1">
        <div class="row ">
            <div class="col-lg-6 ">
                <div class="text-center  pt-4">
                    <h2>OUR</h2>
                    <h3 class="lead" style=" color: #e54a20 !important; font-family: Sofia, sans-serif !important;">
                        Awesome</h3>
                    <h2>TEAM</h2>
                </div>
            </div>


            <div class="col-lg-5 text-center">
                <div class="my-5">
                    <h3>The right skills</h3>
                    <h3 style=" color: #e54a20 !important; font-family: Sofia, sans-serif !important;">For Your Success.
                    </h3>

                </div>
                <div class="my-2">
                    <div class="description font-weight-bolder">
                        <p>Our team has a wide range of skills: <br>
                            Design, Animation, Product and Project <br> Management, Business, Psychology, and more. <br>
                            And rumor has it that we are also fun to work with!</p>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="container">
            <mat-grid-list cols="3" rowHeight="2:3.7">

                <mat-grid-tile>
                    <mat-card class="example-card mat-elevation-z0">
                        <img mat-card-image height="160px" src="assets/images/female.svg" alt="Photo of a Shiba Inu">
                        <div class="text-center">
                            <p>Shiba Inu</p>
                            <p>Breed</p>
                        </div>
                    </mat-card>
                </mat-grid-tile>


                <mat-grid-tile>
                    <mat-card class="example-card mat-elevation-z0">
                        <img mat-card-image height="160" src="assets/images/female.svg" alt="Photo of a Shiba Inu">
                        <div class="text-center">
                            <p>Shiba Inu</p>
                            <p>Breed</p>
                        </div>
                    </mat-card>
                </mat-grid-tile>


                <mat-grid-tile>
                    <mat-card class="example-card mat-elevation-z0">
                        <img mat-card-image height="160" src="assets/images/female.svg" alt="Photo of a Shiba Inu">
                        <div class="text-center">
                            <p>Shiba Inu</p>
                            <p>Breed</p>
                        </div>
                    </mat-card>
                </mat-grid-tile>




            </mat-grid-list>
            <!-- <br> -->

            <mat-grid-list cols="3" rowHeight="2:3.9">

                <mat-grid-tile>
                    <mat-card class="example-card mat-elevation-z0">
                        <img mat-card-image height="160px" src="assets/images/female.svg" alt="Photo of a Shiba Inu">
                        <div class="text-center">
                            <p>Shiba Inu</p>
                            <p>Breed</p>
                        </div>
                    </mat-card>
                </mat-grid-tile>


                <mat-grid-tile>
                    <mat-card class="example-card mat-elevation-z0">
                        <img mat-card-image height="160" src="assets/images/male.svg" alt="Photo of a Shiba Inu">
                        <div class="text-center">
                            <p>Shiba Inu</p>
                            <p>Breed</p>
                        </div>
                    </mat-card>
                </mat-grid-tile>


                <mat-grid-tile>
                    <mat-card class="example-card mat-elevation-z0">
                        <img mat-card-image height="160" src="assets/images/male.svg" alt="Photo of a Shiba Inu">
                        <div class="text-center">
                            <p>Shiba Inu</p>
                            <p>Breed</p>
                        </div>
                    </mat-card>
                </mat-grid-tile>



            </mat-grid-list>

            <!-- <br> -->

            <!-- <mat-grid-list cols="4" rowHeight="2:1">

            <mat-grid-tile>
                <mat-card class="example-card mat-elevation-z0">
                    <img mat-card-image height="160px" src="assets/images/male.svg" alt="Photo of a Shiba Inu">
                    <div class="text-center">
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Breed</mat-card-subtitle>
                    </div>
                </mat-card>
            </mat-grid-tile>


            <mat-grid-tile>
                <mat-card class="example-card mat-elevation-z0">
                    <img mat-card-image height="160" src="assets/images/male.svg" alt="Photo of a Shiba Inu">
                    <div class="text-center">
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Breed</mat-card-subtitle>
                    </div>
                </mat-card>
            </mat-grid-tile>


            <mat-grid-tile>
                <mat-card class="example-card mat-elevation-z0">
                    <img mat-card-image height="160" src="assets/images/female.svg" alt="Photo of a Shiba Inu">
                    <div class="text-center">
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Breed</mat-card-subtitle>
                    </div>
                </mat-card>
            </mat-grid-tile>


            <mat-grid-tile>
                <mat-card class="example-card mat-elevation-z0">
                    <img mat-card-image height="160" src="assets/images/female.svg" alt="Photo of a Shiba Inu">
                    <div class="text-center">
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Breed</mat-card-subtitle>
                    </div>
                </mat-card>
            </mat-grid-tile>

        </mat-grid-list> -->
            <!-- <br> -->

            <!-- <mat-grid-list cols="4" rowHeight="2:1">

            <mat-grid-tile>
                <mat-card class="example-card mat-elevation-z0">
                    <img mat-card-image height="160px" src="assets/images/female.svg" alt="Photo of a Shiba Inu">
                    <div class="text-center">
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Breed</mat-card-subtitle>
                    </div>
                </mat-card>
            </mat-grid-tile>


            <mat-grid-tile>
                <mat-card class="example-card mat-elevation-z0">
                    <img mat-card-image height="160" src="assets/images/female.svg" alt="Photo of a Shiba Inu">
                    <div class="text-center">
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Breed</mat-card-subtitle>
                    </div>
                </mat-card>
            </mat-grid-tile>


            <mat-grid-tile>
                <mat-card class="example-card mat-elevation-z0">
                    <img mat-card-image height="160" src="assets/images/female.svg" alt="Photo of a Shiba Inu">
                    <div class="text-center">
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Breed</mat-card-subtitle>
                    </div>
                </mat-card>
            </mat-grid-tile>


            <mat-grid-tile>
                <mat-card class="example-card mat-elevation-z0">
                    <img mat-card-image height="160" src="assets/images/female.svg" alt="Photo of a Shiba Inu">
                    <div class="text-center">
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Breed</mat-card-subtitle>
                    </div>
                </mat-card>
            </mat-grid-tile>

        </mat-grid-list>  -->



        </div>

    </div>
</section>