a{
    text-decoration: none;
}

#nav{
    display: block;
}
#nav1{
    display: none;
}
@media only screen and (max-width:1024px) {

    #nav{
        display: none;
    }
    #nav1{
        display: block;
    }
}




.example-spacer {
    flex: 1 1 auto;
  }
  .m{
      background-color: transparent !important;
      /* padding-left: 16rem; */
  }
 

  /* del */

  .sidebar {
    /* margin: 0;
    padding: 0;
    width: 200px; */
    background-color: #500d0d;
    /* position: fixed; */
    /* height: 100%; */
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    /* padding: 16px; */
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  

  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }


/*  */
nav.black ul{
  background: black;
}

/*  */


/* #navbar {
  background-color: #333;
  position: fixed;
}

 #navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
} 

#navbar a:hover {
  background-color: #ddd;
  color: black;
} */

/* delt now */



/* delet */

#black{
  position:fixed;
  top:0;
  background:#333;
  width:100%;
  height:50px;
  
}
#black #ul{
  list-style-type:none;
  padding:0;
}

#black #ul #li{
  display:inline-block;
  width:100px;
  color:red;
}

/* #blue{
  position:fixed;
  top:0;
  background:blue;
  width:100%;
  height:50px;
} */