a{
    text-decoration: none;
}

#nav{
    display: block;
}
#nav1{
    display: none;
}
@media only screen and (max-width:914px) {

    #nav{
        display: none;
    }
    #nav1{
        display: block;
    }
}




.example-spacer {
    flex: 1 1 auto;
  }
  .m{
      background-color: transparent !important;
      padding-left: 19rem;
  }
 