<!-- <section>
    <div class="wpb_column vc_column_container vc_col-sm-12 ">
        
    <div class="main">
     
        <div class="content text-center tx">
            <div class="prague-svg-animation-text">
            </div>
            <div class="subtitle">We'll Build house of your dream</div>
            <h2 class="title">we have 500+ review and our customer <br> trust and quality product</h2>
            <button>Buy Now</button> <button>Explore</button>
        </div>
    </div></div>
</section>

 -->

<section class="mb-5">
    <div class="wpb_column vc_column_container vc_col-sm-12 ">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <!-- website -->
                <div id="main">
                <section class="container-fluid top-banner no-padd big fullheight light s-back-switch main"
                    style="background-image: url('assets/images/window.jpg'); min-height: 100vh;  ">
                    <span class="overlay"></span> <img class="s-img-switch" alt="" style="display: none;">
                    <div class="content">
                        <div class="prague-svg-animation-text">
                        </div>
                        <div class="subtitle">We'll Build house of your dream</div>
                        <h2 class="title">we have 500+ review and our customer <br> trust and quality product</h2>
                        <br>
                        <button  class="but ">Buy Now</button>   <button class="but">Explore</button>
                    </div>
                    <div class="top-banner-cursor"></div>
                </section>
                </div>
                <!-- mobile -->
                <div id="main1">
                    <section class="container-fluid top-banner no-padd big fullheight light s-back-switch main"
                        style="background-image: url('assets/images/window.jpg'); min-height: 70vh; width: 100%; ">
                        <span class="overlay"></span> <img class="s-img-switch" alt="" style="display: none;">
                        <div class="content">
                            <div class="prague-svg-animation-text">
                            </div>
                            <div class="subtitle">We'll Build house of your dream</div>
                            <h2 class="title">we have 500+ review and our customer <br> trust and quality product</h2>
                            <br>
                            <button  class="but ">Buy Now</button>   <button class="but">Explore</button>
                        </div>
                        <div class="top-banner-cursor"></div>
                    </section>
                    </div>
                <!-- end -->
            </div>
        </div>
    </div>
</section>  

<!--  -->


<!-- section 2  -->
<section class="mb-5 py-5  position-relative section2Bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="container ">
                   <div class="my-2 text-center">
                    <h2 class="title">what we are  offering</h2>
                    <h5>Property Facility</h5>
                        <p>we have 500+ review and our customer <br> trust and quality product</p>
                  </div>
                  
                </div>
            </div>
            <div class="col-lg-6">
                <mat-grid-list cols="3" rowHeight="2:2.6"> 
                    <mat-grid-tile >
                        <mat-card class="example-card mat-elevation-z0 ">
                        <img mat-card-image height="100px" src="assets/blog/office.png"
                            alt="Photo of a Shiba Inu">
                        <div class="text-center">
                            <mat-card-title>Ofice</mat-card-title>
                        </div>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card class="example-card mat-elevation-z0">
                        <img mat-card-image height="100px" src="assets/blog/fire.jpg"
                            alt="Photo of a Shiba Inu">
                        <div class="text-center">
                            <mat-card-title>Firebase</mat-card-title>
                        </div>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile >
                    <mat-card class="example-card mat-elevation-z0">
                        <img mat-card-image height="100px" src="assets/blog/parking.jpg"
                            alt="Photo of a Shiba Inu">
                        <div class="text-center">
                            <mat-card-title>Parking</mat-card-title>
                        </div>
                    </mat-card>
                </mat-grid-tile>
                </mat-grid-list>
               
            </div>
        </div>
    </div>



    <!-- website -->
    <div id="cad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="text-center"> <br><br>
                    <a class="a" href=""><mat-icon class="icon" >arrow_forward</mat-icon></a>
                </div>
            </div>
            <div class="col-lg-8">
                <mat-grid-list cols="5" rowHeight="2:2.3">
                    <mat-grid-tile  >

                        <mat-card class="example-card mat-elevation-z0">
                            <img mat-card-image height="100px" src="assets/blog/wifi.jpg"
                                alt="Photo of a Shiba Inu">
                            <div class="text-center">
                                <mat-card-title>Internet</mat-card-title>
                            </div>
                        </mat-card>

                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="example-card mat-elevation-z0">
                        <img mat-card-image height="100px" src="assets/blog/office.png"
                            alt="Photo of a Shiba Inu">
                        <div class="text-center">
                            <mat-card-title>Ofice</mat-card-title>
                        </div>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile  >
                    <mat-card class="example-card mat-elevation-z0">
                    <img mat-card-image height="100px" src="assets/blog/gym.jpg"
                        alt="Photo of a Shiba Inu">
                    <div class="text-center">
                        <mat-card-title>Gym</mat-card-title>
                    </div>
                </mat-card></mat-grid-tile>
                 <mat-grid-tile  > 
                    <mat-card class="example-card mat-elevation-z0">
                    <img mat-card-image height="100px" src="assets/blog/kit.jpg"
                        alt="Photo of a Shiba Inu">
                    <div class="text-center">
                        <mat-card-title>Kitchen</mat-card-title>
                    </div>
                </mat-card>
            </mat-grid-tile> 
            <mat-grid-tile  > 
                <mat-card class="example-card mat-elevation-z0">
                <img mat-card-image height="100px" src="assets/blog/bed.jpg"
                    alt="Photo of a Shiba Inu">
                <div class="text-center">
                    <mat-card-title>Bedroom</mat-card-title>
                </div>
            </mat-card>
        </mat-grid-tile>
                </mat-grid-list>
                
              
            </div>
        </div>
    </div>
    </div>

    <!-- mobile -->
    <div id="cad1">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="text-center"> <br><br>
                        <a class="a" href=""><mat-icon class="icon" >arrow_forward</mat-icon></a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <mat-grid-list cols="3" rowHeight="2:3">
                        <mat-grid-tile  >
    
                            <mat-card class="example-card mat-elevation-z0">
                                <img mat-card-image height="100px" src="assets/blog/wifi.jpg"
                                    alt="Photo of a Shiba Inu">
                                <div class="text-center">
                                    <mat-card-title>Internet</mat-card-title>
                                </div>
                            </mat-card>
    
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-card class="example-card mat-elevation-z0">
                            <img mat-card-image height="100px" src="assets/blog/office.png"
                                alt="Photo of a Shiba Inu">
                            <div class="text-center">
                                <mat-card-title>Ofice</mat-card-title>
                            </div>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile  >
                        <mat-card class="example-card mat-elevation-z0">
                        <img mat-card-image height="100px" src="assets/blog/gym.jpg"
                            alt="Photo of a Shiba Inu">
                        <div class="text-center">
                            <mat-card-title>Gym</mat-card-title>
                        </div>
                    </mat-card></mat-grid-tile>
                     <!-- <mat-grid-tile  > 
                        <mat-card class="example-card mat-elevation-z0">
                        <img mat-card-image height="100px" src="assets/blog/kit.jpg"
                            alt="Photo of a Shiba Inu">
                        <div class="text-center">
                            <mat-card-title>Kitchen</mat-card-title>
                        </div>
                    </mat-card>
                </mat-grid-tile>  -->
                <!-- <mat-grid-tile  > 
                    <mat-card class="example-card mat-elevation-z0">
                    <img mat-card-image height="100px" src="assets/blog/bed.jpg"
                        alt="Photo of a Shiba Inu">
                    <div class="text-center">
                        <mat-card-title>Bedroom</mat-card-title>
                    </div>
                </mat-card>
            </mat-grid-tile> -->
                    </mat-grid-list>
                    <mat-grid-list cols="2" rowHeight="2:2">
                         <mat-grid-tile  > 
                        <mat-card class="example-card mat-elevation-z0">
                        <img mat-card-image height="100px" src="assets/blog/kit.jpg"
                            alt="Photo of a Shiba Inu">
                        <div class="text-center">
                            <mat-card-title>Kitchen</mat-card-title>
                        </div>
                    </mat-card>
                </mat-grid-tile>  
                <mat-grid-tile  > 
                    <mat-card class="example-card mat-elevation-z0">
                    <img mat-card-image height="100px" src="assets/blog/bed.jpg"
                        alt="Photo of a Shiba Inu">
                    <div class="text-center">
                        <mat-card-title>Bedroom</mat-card-title>
                    </div>
                </mat-card>
            </mat-grid-tile> 
                        </mat-grid-list>
                  
                </div>
            </div>
        </div>
        </div>
</section>


<!--  -->


<!-- <section>
    <mat-grid-list cols="4" rowHeight="2:1">
        <div class="container">
        <mat-grid-tile style="padding-left: 120%;">
            <div class="container">
            <h2 >what we are <br> offering</h2>
            <h6>Property Facility</h6>
            <p class="title">we have 500+ review and our customer <br> trust and quality product</p>
       </div>
        </mat-grid-tile>
        <mat-grid-tile style="padding-left: 100%;">
            <mat-card class="example-card mat-elevation-z0">
            <img mat-card-image height="100px" src="assets/blog/office.png"
                alt="Photo of a Shiba Inu">
            <div class="text-center">
                <mat-card-title>Ofice</mat-card-title>
            </div>
        </mat-card>
    </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="example-card mat-elevation-z0">
                <img mat-card-image height="100px" src="assets/blog/fire.jpg"
                    alt="Photo of a Shiba Inu">
                <div class="text-center">
                    <mat-card-title>Firebase</mat-card-title>
                </div>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile >
            <mat-card class="example-card mat-elevation-z0">
                <img mat-card-image height="100px" src="assets/blog/parking.jpg"
                    alt="Photo of a Shiba Inu">
                <div class="text-center">
                    <mat-card-title>Parking</mat-card-title>
                </div>
            </mat-card>
        </mat-grid-tile>
        </div>
      </mat-grid-list>
      

      <mat-grid-list cols="6" rowHeight="2:1.3" >
         
        <div class="container">
          
        <mat-grid-tile style="padding-left: 130%;">
            <div class="container">
                
                    <a href=""><mat-icon>arrow_forward</mat-icon></a>
              
       </div>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile style="padding-left: 90%;"></mat-grid-tile>
         
        <mat-grid-tile  >
            
            <mat-card class="example-card mat-elevation-z0">
            <img mat-card-image height="100px" src="assets/blog/gym.jpg"
                alt="Photo of a Shiba Inu">
            <div class="text-center">
                <mat-card-title>Gym</mat-card-title>
            </div>
        </mat-card></mat-grid-tile>
    
        <mat-grid-tile >
            <mat-card class="example-card mat-elevation-z0">
                <img mat-card-image height="100px" src="assets/blog/parking.jpg"
                    alt="Photo of a Shiba Inu">
                <div class="text-center">
                    <mat-card-title>Parking</mat-card-title>
                </div>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile  >

            <mat-card class="example-card mat-elevation-z0">
                <img mat-card-image height="100px" src="assets/blog/wifi.jpg"
                    alt="Photo of a Shiba Inu">
                <div class="text-center">
                    <mat-card-title>Internet</mat-card-title>
                </div>
            </mat-card>
        </mat-grid-tile>
      
        </div>
      </mat-grid-list>
      
</section>
 -->


<!-- section 3 -->

 <!-- <div class="container my-5">
    <h5 class="text-center">NEWSLETTER</h5>
    <h4 class="text-center"> Here we share our ideas.</h4>
</div> -->

<section class="mb-5">
   <!-- website -->
   <div id="grid">
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <div class="container">
                    <div class="m">
                    <p class="line">5 years ago</p>
                    <h2>Bridge construction</h2>
                    <p>Holland’s bigger Bridge is currently under  <br> construction and will be ready for students Fall <br> 2017.
                    </p>

                    <a class=" a" href="">Read<mat-icon class="t">arrow_forward</mat-icon></a>
                    </div>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
                <img class="rounded" src="assets/blog/jsb.jpg" alt="" height="130%">
            </mat-grid-tile>

            <mat-grid-tile>
                <img class="rounded" src="assets/blog/archt.jpg" alt="" height="130%">
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="container">
                    <div class="m">
                    <p class="line">5 years ago</p>
                    <h2>Bridge construction</h2>
                    <p>Holland’s bigger Bridge is currently under <br> construction and will be ready for students Fall <br> 2017.
                    </p>

                    <a class=" a" href="">Read<mat-icon class="t">arrow_forward</mat-icon></a>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="container">
                    <div class="m">
                    <p class="line">5 years ago</p>
                    <h2>Bridge construction</h2>
                    <p>Holland’s bigger Bridge is currently under <br> construction and will be ready for students Fall <br> 2017.
                    </p>

                    <a class=" a" href="">Read<mat-icon class="t">arrow_forward</mat-icon></a>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="rounded" src="assets/blog/tunnel.jpg" alt="" height="130%">
            </mat-grid-tile>

            <mat-grid-tile>
                <img class="rounded" src="assets/blog/teaching.jpg" alt="" height="130%">
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="container">
                    <div class="m">
                    <p class="line">5 years ago</p>
                    <h2>Bridge construction</h2>
                    <p>Holland’s bigger Bridge is currently under <br> construction and will be ready for students Fall <br> 2017.
                    </p>

                    <a class=" a" href="">Read<mat-icon class="t">arrow_forward</mat-icon></a>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="container">
                    <div class="m">
                    <p class="line">5 years ago</p>
                    <h2>Bridge construction</h2>
                    <p>Holland’s bigger Bridge is currently under <br> construction and will be ready for students Fall <br> 2017.
                    </p>

                    <a class=" a" href="">Read<mat-icon class="t">arrow_forward</mat-icon></a>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="rounded" src="assets/blog/table.jpg" alt="" height="130%" width="100%">
            </mat-grid-tile>

            
            <mat-grid-tile>
                <img class="rounded" src="assets/blog/discloser.jpg" alt="" height="130%">
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="container">
                    <div class="m">
                    <p class="line">5 years ago</p>
                    <h2>Bridge construction</h2>
                    <p>Holland’s bigger Bridge is currently under <br> construction and will be ready for students Fall <br> 2017.
                    </p>

                    <a class=" a" href="">Read<mat-icon class="t">arrow_forward</mat-icon></a>
                    </div>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div class="container">
                    <div class="m">
                    <p class="line">5 years ago</p>
                    <h2>Bridge construction</h2>
                    <p>Holland’s bigger Bridge is currently under <br> construction and will be ready for students Fall <br> 2017.
                    </p>

                    <a class=" a" href="">Read<mat-icon class="t">arrow_forward</mat-icon></a>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img class="rounded" src="assets/blog/icehome.jpg" alt="" height="130%">
            </mat-grid-tile>


            <mat-grid-tile>
                <img class="rounded" src="assets/blog/girl.jpg" alt="" height="130%">
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="container">
                    <div class="m">
                    <p class="line">5 years ago</p>
                    <h2>Bridge construction</h2>
                    <p>Holland’s bigger Bridge is currently under <br> construction and will be ready for students Fall <br> 2017.
                    </p>

                    <a class=" a" href="">Read<mat-icon class="t">arrow_forward</mat-icon></a>
                    </div>
                </div>
            </mat-grid-tile>


        </mat-grid-list>
</div>

<!-- mobile -->
<div id="grid1">
    <mat-grid-list cols="1" rowHeight="2:1.4">
        <mat-grid-tile>
            <div class="container">
                <div id="m">
                <p class="line">5 years ago</p>
                <h2>Bridge construction</h2>
                <p>Holland’s bigger Bridge is currently under  <br> construction and will be ready for students Fall  2017.
                </p>

                <a class=" a" href="">Read<mat-icon class="t">arrow_forward</mat-icon></a>
                </div>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <img class="rounded" src="assets/blog/jsb.jpg" alt="" height="130%">
        </mat-grid-tile>

        <mat-grid-tile>
           
            <div class="container">
                <div id="m">
                <p class="line">5 years ago</p>
                <h2>Bridge construction</h2>
                <p>Holland’s bigger Bridge is currently under <br> construction and will be ready for students Fall  2017.
                </p>

                <a class=" a" href="">Read<mat-icon class="t">arrow_forward</mat-icon></a>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="rounded" src="assets/blog/archt.jpg" alt="" height="130%">
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="container">
                <div id="m">
                <p class="line">5 years ago</p>
                <h2>Bridge construction</h2>
                <p>Holland’s bigger Bridge is currently under <br> construction and will be ready for students Fall  2017.
                </p>

                <a class=" a" href="">Read<mat-icon class="t">arrow_forward</mat-icon></a>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="rounded" src="assets/blog/tunnel.jpg" alt="" height="130%">
        </mat-grid-tile>

        <mat-grid-tile>
            
            <div id="m">
                <p class="line">5 years ago</p>
                <h2>Bridge construction</h2>
                <p>Holland’s bigger Bridge is currently under <br> construction and will be ready for students Fall  2017.
                </p>

                <a class=" a" href="">Read<mat-icon class="t">arrow_forward</mat-icon></a>
                </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="container">
                <img class="rounded" src="assets/blog/teaching.jpg" alt="" height="130%">
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="container">
                <div id="m">
                <p class="line">5 years ago</p>
                <h2>Bridge construction</h2>
                <p>Holland’s bigger Bridge is currently under <br> construction and will be ready for students Fall  2017.
                </p>

                <a class=" a" href="">Read<mat-icon class="t">arrow_forward</mat-icon></a>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="rounded" src="assets/blog/table.jpg" alt="" height="130%" width="100%">
        </mat-grid-tile>

        
        <mat-grid-tile>
            <div class="container">
                <div id="m">
                <p class="line">5 years ago</p>
                <h2>Bridge construction</h2>
                <p>Holland’s bigger Bridge is currently under <br> construction and will be ready for students Fall  2017.
                </p>

                <a class=" a" href="">Read<mat-icon class="t">arrow_forward</mat-icon></a>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
           
            <img class="rounded" src="assets/blog/discloser.jpg" alt="" height="130%">
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="container">
                <div id="m">
                <p class="line">5 years ago</p>
                <h2>Bridge construction</h2>
                <p>Holland’s bigger Bridge is currently under <br> construction and will be ready for students Fall  2017.
                </p>

                <a class=" a" href="">Read<mat-icon class="t">arrow_forward</mat-icon></a>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="rounded" src="assets/blog/icehome.jpg" alt="" height="130%">
        </mat-grid-tile>


        <mat-grid-tile>
           
            <div class="container">
                <div id="m">
                <p class="line">5 years ago</p>
                <h2>Bridge construction</h2>
                <p>Holland’s bigger Bridge is currently under <br> construction and will be ready for students Fall <br> 2017.
                </p>

                <a class=" a" href="">Read<mat-icon class="t">arrow_forward</mat-icon></a>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="rounded" src="assets/blog/girl.jpg" alt="" height="130%">
        </mat-grid-tile>


    </mat-grid-list>
</div>

</section> 