<section class="mb-5">
    <div class="wpb_column vc_column_container vc_col-sm-12 ">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <!-- website -->
              <div id="main">
                <section class="container-fluid top-banner no-padd big fullheight light s-back-switch main"
                    style="background-image: url('assets/blog/pink.jpg'); min-height: 100vh;  ">
                    <span class="overlay"></span> <img class="s-img-switch" alt="" style="display: none;">
                    <!-- <div class="content">
                        <div class="prague-svg-animation-text">
                        </div>
                        <div class="subtitle">CONTACT ME</div>
                        <h2 class="title">For new project</h2>

                    </div> -->
                    <div class="top-banner-cursor"></div>
                </section>
                </div>
                <!-- mobile -->
                <div id="main1">
                    <section class="container-fluid top-banner no-padd big fullheight light s-back-switch main"
                        style="background-image: url('assets/blog/pink.jpg'); min-height: 50vh; width: 100%; ">
                        <span class="overlay"></span> <img class="s-img-switch" alt="" style="display: none;">
                        <!-- <div class="content">
                            <div class="prague-svg-animation-text">
                            </div>
                            <div class="subtitle">CONTACT ME</div>
                            <h2 class="title">For new project</h2>
    
                        </div> -->
                        <div class="top-banner-cursor"></div>
                    </section>
                    </div>
                <!-- end -->
            </div>
        </div>
    </div>
</section>




<section class="mb-5">
<div class="container padd-only-xs">
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12 ">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <section class="container-fluid top-banner no-padd  simple  dark">
                        <div class="content">
                            <div class="prague-svg-animation-text">
                                <!-- <!-?xml version="1.0"?-- -->
                                <svg width="93%" height="100%" fill="transparent"
                                    viewBox="0 0 252.9296875 159.921875" preserveAspectRatio="xMidYMid meet"
                                    class="prague-svg my-svg0" id="my-svg0">
                                    <path
                                        d=" M5.56640625,119.921875l0-71.09375l24.4140625,0q13.232421875,0,20.654296875,4.9072265625t7.421875,14.6240234375q0,5.078125-2.392578125,9.033203125t-7.373046875,5.95703125q6.25,1.416015625,9.228515625,5.6884765625t2.978515625,9.8388671875q0,10.400390625-6.982421875,15.72265625t-20.01953125,5.322265625l-27.9296875,0z M22.119140625,107.2265625l11.376953125,0q5.2734375,0,7.91015625-2.0751953125t2.63671875-6.3720703125q0-4.638671875-2.2705078125-7.0068359375t-7.3486328125-2.3681640625l-12.3046875,0l0,17.822265625z M22.119140625,78.466796875l8.203125,0q5.615234375-0.09765625,8.3984375-2.1728515625t2.783203125-6.0791015625q0-4.541015625-2.83203125-6.6162109375t-8.69140625-2.0751953125l-7.861328125,0l0,16.943359375z"
                                        style="stroke-dasharray: 380, 382; stroke-dashoffset: 0;"></path>
                                    <path
                                        d=" M69.775390625,119.921875l0-71.09375l16.552734375,0l0,58.3984375l30.615234375,0l0,12.6953125l-47.16796875,0z"
                                        style="stroke-dasharray: 237, 239; stroke-dashoffset: 0;"></path>
                                    <path
                                        d=" M122.314453125,90.771484375l0-12.79296875q0-13.0859375,8.3740234375-21.630859375t21.8505859375-8.544921875q13.37890625,0,21.77734375,8.544921875t8.3984375,21.630859375l0,12.79296875q0,13.134765625-8.3251953125,21.6552734375t-21.7529296875,8.5205078125q-13.525390625,0-21.923828125-8.5205078125t-8.3984375-21.6552734375z M138.76953125,90.771484375q0,7.71484375,3.5888671875,12.59765625t10.2783203125,4.8828125q6.494140625,0,10.05859375-4.8828125t3.564453125-12.59765625l0-12.890625q0-7.6171875-3.5888671875-12.5t-10.1318359375-4.8828125q-6.689453125,0-10.2294921875,4.8583984375t-3.5400390625,12.5244140625l0,12.890625z"
                                        style="stroke-dasharray: 344, 346; stroke-dashoffset: 0;"></path>
                                    <path
                                        d=" M191.015625,91.796875l0-14.84375q0-12.841796875,8.0322265625-20.99609375t20.6787109375-8.154296875q13.720703125,0,20.556640625,6.34765625t7.763671875,17.333984375l-0.09765625,0.29296875l-15.478515625,0q-0.830078125-5.615234375-3.6376953125-8.447265625t-8.5693359375-2.83203125t-9.27734375,4.5654296875t-3.515625,11.7919921875l0,14.94140625q0,7.421875,3.466796875,11.9384765625t9.716796875,4.5166015625q4.541015625,0,7.12890625-0.732421875t4.1015625-1.953125l0-11.23046875l-11.181640625,0l0-10.9375l27.734375,0l0,26.708984375q-3.61328125,4.296875-10.498046875,7.568359375t-17.28515625,3.271484375q-13.18359375,0-21.4111328125-8.10546875t-8.2275390625-21.044921875z "
                                        style="stroke-dasharray: 376, 378; stroke-dashoffset: 0;"></path>
                                </svg>
                            </div>

                            <div class="subtitle">NEWSLETTER</div>
                            <h2 class="title">Here we share our ideas.</h2>
                        </div>
                        <div class="top-banner-cursor"></div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true"
        class="vc_row wpb_row vc_row-fluid vc_row-no-padding"
        style="position: relative; left: 6.4px; box-sizing: border-box; width: 987px;">
        <div class="wpb_column vc_column_container vc_col-sm-12 ">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <div data-unique-key="6b88af203a286740c7d81319824ea42a" class="js-load-more" data-start-page="1"
                        data-max-page="2" data-next-link="">
                        <div class="row prague_blog prague_count_col1 prague_gap_col10  no-footer-content prague-load-wrapper"
                            data-columns="prague_count_col1" data-gap="prague_gap_col10">
                            <div class="blog-post col-xs-12  " *ngFor="let item of arr">
                                <div class="prague-blog-list-wrapper">
                                    <div class="blog-list-img s-back-switch"   
                                        style="background-image: url(&quot;https://prague.foxthemes.me/wp-content/uploads/2017/01/stock-photo-81710985.jpg&quot;);">
                                        <img width="2000" height="1328"
                                            src="https://prague.foxthemes.me/wp-content/uploads/2017/01/stock-photo-81710985.jpg"
                                            class="s-img-switch wp-post-image wp-post-image" alt="" loading="lazy"
                                            srcset="https://prague.foxthemes.me/wp-content/uploads/2017/01/stock-photo-81710985.jpg 2000w, https://prague.foxthemes.me/wp-content/uploads/2017/01/stock-photo-81710985-300x199.jpg 300w, https://prague.foxthemes.me/wp-content/uploads/2017/01/stock-photo-81710985-768x510.jpg 768w, https://prague.foxthemes.me/wp-content/uploads/2017/01/stock-photo-81710985-1024x680.jpg 1024w"
                                            sizes="(max-width: 2000px) 100vw, 2000px" style="display: none;">
                                    </div>
                                    <div class="blog-list-content">
                                        <div class="blog-list-post-date">
                                            5 years ago </div>
                                        <h3 class="blog-list-post-title"><a
                                                href=""
                                                target="_self">Bridge construction</a></h3>
                                        <div class="blog-list-post-excerpt">
                                            <p></p>
                                            <p>Holland’s bigger Bridge is currently under construction and will be ready
                                                for students Fall 2017.</p>
                                            <p></p>
                                        </div>
                                        <a href=""
                                            class="blog-list-link a-btn-arrow-2" target="_self">
                                            <span class="arrow-right"></span>
                                            READ </a>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="blog-post col-xs-12  p_f_098f6bc column_paralax">
                                <div class="prague-blog-list-wrapper">
                                    <div class="blog-list-img s-back-switch"
                                        style="background-image: url(&quot;https://prague.foxthemes.me/wp-content/uploads/2017/02/a6ec5612273735.56265d52bc52e-1.jpg&quot;);">
                                        <img width="1920" height="1070"
                                            src="https://prague.foxthemes.me/wp-content/uploads/2017/02/a6ec5612273735.56265d52bc52e-1.jpg"
                                            class="s-img-switch wp-post-image wp-post-image" alt="" loading="lazy"
                                            srcset="https://prague.foxthemes.me/wp-content/uploads/2017/02/a6ec5612273735.56265d52bc52e-1.jpg 1920w, https://prague.foxthemes.me/wp-content/uploads/2017/02/a6ec5612273735.56265d52bc52e-1-300x167.jpg 300w, https://prague.foxthemes.me/wp-content/uploads/2017/02/a6ec5612273735.56265d52bc52e-1-768x428.jpg 768w, https://prague.foxthemes.me/wp-content/uploads/2017/02/a6ec5612273735.56265d52bc52e-1-1024x571.jpg 1024w"
                                            sizes="(max-width: 1920px) 100vw, 1920px" style="display: none;">
                                    </div>
                                    <div class="blog-list-content">
                                        <div class="blog-list-post-date">
                                            5 years ago </div>
                                        <h3 class="blog-list-post-title"><a
                                                href=""
                                                target="_self">Time Inc. architectura</a></h3>
                                        <div class="blog-list-post-excerpt">
                                            <p></p>
                                            <p>The design of the new Time Inc. headquarters was mentioned in an
                                                Architectural Record article discussing the office of the future.</p>
                                            <p></p>
                                        </div>
                                        <a href=""
                                            class="blog-list-link a-btn-arrow-2" target="_self">
                                            <span class="arrow-right"></span>
                                            READ </a>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="blog-post col-xs-12  ">
                                <div class="prague-blog-list-wrapper">
                                    <div class="blog-list-img s-back-switch"
                                        style="background-image: url(&quot;https://prague.foxthemes.me/wp-content/uploads/2017/02/stock-photo-164383997.jpg&quot;);">
                                        <img width="2000" height="1373"
                                            src="https://prague.foxthemes.me/wp-content/uploads/2017/02/stock-photo-164383997.jpg"
                                            class="s-img-switch wp-post-image wp-post-image" alt="" loading="lazy"
                                            srcset="https://prague.foxthemes.me/wp-content/uploads/2017/02/stock-photo-164383997.jpg 2000w, https://prague.foxthemes.me/wp-content/uploads/2017/02/stock-photo-164383997-300x206.jpg 300w, https://prague.foxthemes.me/wp-content/uploads/2017/02/stock-photo-164383997-768x527.jpg 768w, https://prague.foxthemes.me/wp-content/uploads/2017/02/stock-photo-164383997-1024x703.jpg 1024w"
                                            sizes="(max-width: 2000px) 100vw, 2000px" style="display: none;">
                                    </div>
                                    <div class="blog-list-content">
                                        <div class="blog-list-post-date">
                                            5 years ago </div>
                                        <h3 class="blog-list-post-title"><a
                                                href=""
                                                target="_self">How we built big yellow tunnel in LA</a></h3>
                                        <div class="blog-list-post-excerpt">
                                            <p></p>
                                            <p>We buildt one of the Montreal Metro’s four routes operating in Montreal,
                                                Quebec, Canada.</p>
                                            <p></p>
                                        </div>
                                        <a href=""
                                            class="blog-list-link a-btn-arrow-2" target="_self">
                                            <span class="arrow-right"></span>
                                            READ </a>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="blog-post col-xs-12  ">
                                <div class="prague-blog-list-wrapper">
                                    <div class="blog-list-img s-back-switch"
                                        style="background-image: url(&quot;https://prague.foxthemes.me/wp-content/uploads/2017/03/proc5.jpg&quot;);">
                                        <img width="570" height="371"
                                            src="https://prague.foxthemes.me/wp-content/uploads/2017/03/proc5.jpg"
                                            class="s-img-switch wp-post-image wp-post-image" alt="" loading="lazy"
                                            srcset="https://prague.foxthemes.me/wp-content/uploads/2017/03/proc5.jpg 570w, https://prague.foxthemes.me/wp-content/uploads/2017/03/proc5-300x195.jpg 300w"
                                            sizes="(max-width: 570px) 100vw, 570px" style="display: none;">
                                    </div>
                                    <div class="blog-list-content">
                                        <div class="blog-list-post-date">
                                            5 years ago </div>
                                        <h3 class="blog-list-post-title"><a
                                                href=""
                                                target="_self">Tom Krizmanic speaks about Neutral Design</a></h3>
                                        <div class="blog-list-post-excerpt">
                                            <p></p>
                                            <p>Tom Krizmanic recently spoke about age-neutral design in the workplace as
                                                part of a three-person …</p>
                                            <p></p>
                                        </div>
                                        <a href=""
                                            class="blog-list-link a-btn-arrow-2" target="_self">
                                            <span class="arrow-right"></span>
                                            READ </a>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="blog-post col-xs-12   column_paralax">
                                <div class="prague-blog-list-wrapper">
                                    <div class="blog-list-img s-back-switch"
                                        style="background-image: url(&quot;https://prague.foxthemes.me/wp-content/uploads/2017/02/34ddf446488615.5856b7e039657.jpg&quot;);">
                                        <img width="1285" height="1500"
                                            src="https://prague.foxthemes.me/wp-content/uploads/2017/02/34ddf446488615.5856b7e039657.jpg"
                                            class="s-img-switch wp-post-image wp-post-image" alt="" loading="lazy"
                                            srcset="https://prague.foxthemes.me/wp-content/uploads/2017/02/34ddf446488615.5856b7e039657.jpg 1285w, https://prague.foxthemes.me/wp-content/uploads/2017/02/34ddf446488615.5856b7e039657-257x300.jpg 257w, https://prague.foxthemes.me/wp-content/uploads/2017/02/34ddf446488615.5856b7e039657-768x896.jpg 768w, https://prague.foxthemes.me/wp-content/uploads/2017/02/34ddf446488615.5856b7e039657-877x1024.jpg 877w"
                                            sizes="(max-width: 1285px) 100vw, 1285px" style="display: none;">
                                    </div>
                                    <div class="blog-list-content">
                                        <div class="blog-list-post-date">
                                            5 years ago </div>
                                        <h3 class="blog-list-post-title"><a
                                                href=""
                                                target="_self">Creature interior</a></h3>
                                        <div class="blog-list-post-excerpt">
                                            <p></p>
                                            <p>We design a new building on Nickelodeon’s Burbank campus makes the
                                                “pages” : “The new state-of-the-art five-story glass structure will …
                                            </p>
                                            <p></p>
                                        </div>
                                        <a href=""
                                            class="blog-list-link a-btn-arrow-2" target="_self">
                                            <span class="arrow-right"></span>
                                            READ </a>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="blog-post col-xs-12  ">
                                <div class="prague-blog-list-wrapper">
                                    <div class="blog-list-img s-back-switch"
                                        style="background-image: url(&quot;https://prague.foxthemes.me/wp-content/uploads/2017/01/AdobeStock_74548514.jpg&quot;);">
                                        <img width="2000" height="1333"
                                            src="https://prague.foxthemes.me/wp-content/uploads/2017/01/AdobeStock_74548514.jpg"
                                            class="s-img-switch wp-post-image wp-post-image" alt="" loading="lazy"
                                            srcset="https://prague.foxthemes.me/wp-content/uploads/2017/01/AdobeStock_74548514.jpg 2000w, https://prague.foxthemes.me/wp-content/uploads/2017/01/AdobeStock_74548514-300x200.jpg 300w, https://prague.foxthemes.me/wp-content/uploads/2017/01/AdobeStock_74548514-768x512.jpg 768w, https://prague.foxthemes.me/wp-content/uploads/2017/01/AdobeStock_74548514-1024x682.jpg 1024w"
                                            sizes="(max-width: 2000px) 100vw, 2000px" style="display: none;">
                                    </div>
                                    <div class="blog-list-content">
                                        <div class="blog-list-post-date">
                                            5 years ago </div>
                                        <h3 class="blog-list-post-title"><a
                                                href=""
                                                target="_self">How to discover Yourself in 7 steps</a></h3>
                                        <div class="blog-list-post-excerpt">
                                            <p></p>
                                            <p>Everyone wants to know their inner calling, and that includes me. We know
                                                that if we only know …</p>
                                            <p></p>
                                        </div>
                                        <a href=""
                                            class="blog-list-link a-btn-arrow-2" target="_self">
                                            <span class="arrow-right"></span>
                                            READ </a>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="blog-post col-xs-12  ">
                                <div class="prague-blog-list-wrapper">
                                    <div class="blog-list-img s-back-switch"
                                        style="background-image: url(&quot;https://prague.foxthemes.me/wp-content/uploads/2017/01/5eab1e28066719.560a3f2002705.jpg&quot;);">
                                        <img width="1200" height="703"
                                            src="https://prague.foxthemes.me/wp-content/uploads/2017/01/5eab1e28066719.560a3f2002705.jpg"
                                            class="s-img-switch wp-post-image wp-post-image" alt="" loading="lazy"
                                            srcset="https://prague.foxthemes.me/wp-content/uploads/2017/01/5eab1e28066719.560a3f2002705.jpg 1200w, https://prague.foxthemes.me/wp-content/uploads/2017/01/5eab1e28066719.560a3f2002705-300x176.jpg 300w, https://prague.foxthemes.me/wp-content/uploads/2017/01/5eab1e28066719.560a3f2002705-768x450.jpg 768w, https://prague.foxthemes.me/wp-content/uploads/2017/01/5eab1e28066719.560a3f2002705-1024x600.jpg 1024w"
                                            sizes="(max-width: 1200px) 100vw, 1200px" style="display: none;">
                                    </div>
                                    <div class="blog-list-content">
                                        <div class="blog-list-post-date">
                                            5 years ago </div>
                                        <h3 class="blog-list-post-title"><a
                                                href=""
                                                target="_self">Little house in forest</a></h3>
                                        <div class="blog-list-post-excerpt">
                                            <p></p>
                                            <p>This efficient little garage is designed to accommodate three uses: a two
                                                car garage, potting alcove or shop, and a small cottage plan above …</p>
                                            <p></p>
                                        </div>
                                        <a href=""
                                            class="blog-list-link a-btn-arrow-2" target="_self">
                                            <span class="arrow-right"></span>
                                            READ </a>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="blog-post col-xs-12   column_paralax">
                                <div class="prague-blog-list-wrapper">
                                    <div class="blog-list-img s-back-switch"
                                        style="background-image: url(&quot;https://prague.foxthemes.me/wp-content/uploads/2017/02/82087616021177.5629a1ab92b1a-1.jpg&quot;);">
                                        <img width="600" height="400"
                                            src="https://prague.foxthemes.me/wp-content/uploads/2017/02/82087616021177.5629a1ab92b1a-1.jpg"
                                            class="s-img-switch wp-post-image wp-post-image" alt="" loading="lazy"
                                            srcset="https://prague.foxthemes.me/wp-content/uploads/2017/02/82087616021177.5629a1ab92b1a-1.jpg 600w, https://prague.foxthemes.me/wp-content/uploads/2017/02/82087616021177.5629a1ab92b1a-1-300x200.jpg 300w"
                                            sizes="(max-width: 600px) 100vw, 600px" style="display: none;">
                                    </div>
                                    <div class="blog-list-content">
                                        <div class="blog-list-post-date">
                                            5 years ago </div>
                                        <h3 class="blog-list-post-title"><a
                                                href=""
                                                target="_self">Promotion to Principal</a></h3>
                                        <div class="blog-list-post-excerpt">
                                            <p></p>
                                            <p>Our parthners are proud to announce the promotion of Alexandra Villegas
                                                to Principal in our office in Prague.</p>
                                            <p></p>
                                        </div>
                                        <a href=""
                                            class="blog-list-link a-btn-arrow-2" target="_self">
                                            <span class="arrow-right"></span>
                                            READ </a>
                                    </div>
                                </div>
                            </div> -->
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vc_row-full-width vc_clearfix"></div>
</div>  

</section>
