<section class="mb-5">
    <div class="wpb_column vc_column_container vc_col-sm-12 ">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <!-- website -->
              <div id="main">
                <section class="container-fluid top-banner no-padd big fullheight light s-back-switch main"
                    style="background-image: url('assets/blog/pink.jpg'); min-height: 100vh;  ">
                    <span class="overlay"></span> <img class="s-img-switch" alt="" style="display: none;">
                     <div class="content">
                        <div class="prague-svg-animation-text">
                        </div>
                        <h2 class="title">BLOG POSTS</h2>

                    </div> 
                    <div class="top-banner-cursor"></div>
                </section>
                </div>
                <!-- mobile -->
                <div id="main1">
                    <section class="container-fluid top-banner no-padd big fullheight light s-back-switch main"
                        style="background-image: url('assets/blog/pink.jpg'); min-height: 70vh; width: 100%; ">
                        <span class="overlay"></span> <img class="s-img-switch" alt="" style="display: none;">
                        <div class="content">
                            <div class="prague-svg-animation-text">
                            </div>
                            
                            <h2 class="title">BLOG POSTS</h2>
    
                        </div> 
                        <div class="top-banner-cursor"></div>
                    </section>
                    </div>
                <!-- end -->
            </div>
        </div>
    </div>
</section>




<section class="mb-5">
<div class="container padd-only-xs">
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12 ">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <section class="container-fluid top-banner no-padd  simple  dark">
                        <div class="content">
                            <div class="prague-svg-animation-text">
                                <!-- <!-?xml version="1.0"?-- -->
                                <svg width="93%" height="100%" fill="transparent"
                                    viewBox="0 0 252.9296875 159.921875" preserveAspectRatio="xMidYMid meet"
                                    class="prague-svg my-svg0" id="my-svg0">
                                    <path
                                    style="stroke-dasharray: 380, 382; stroke-dashoffset: 0;"></path>
                                    <path
                                     style="stroke-dasharray: 237, 239; stroke-dashoffset: 0;"></path>
                                    <path
                                     style="stroke-dasharray: 344, 346; stroke-dashoffset: 0;"></path>
                                    <path
                                      style="stroke-dasharray: 376, 378; stroke-dashoffset: 0;"></path>
                                </svg>
                            </div>

                            <div class="subtitle">NEWSLETTER</div>
                            <h2 class="title">Here we share our ideas.</h2>
                        </div>
                        <div class="top-banner-cursor"></div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true"
        class="vc_row wpb_row vc_row-fluid vc_row-no-padding"
        style="position: relative; left: 6.4px; box-sizing: border-box; width: 987px;">
        <div class="wpb_column vc_column_container vc_col-sm-12 ">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <div data-unique-key="" class="js-load-more" data-start-page="1"
                        data-max-page="2" data-next-link="">
                        <div class="row prague_blog prague_count_col1 prague_gap_col10  no-footer-content prague-load-wrapper"
                            data-columns="prague_count_col1" data-gap="prague_gap_col10">
                            <div class="blog-post col-xs-12  " *ngFor="let item of arr">
                                <div class="prague-blog-list-wrapper">
                                    <div class="blog-list-img s-back-switch"   
                                        style="background-image: url(&quot;assets/blog/jsb.jpg&quot;);">
                                        <img width="2000" height="1328"
                                            src="assets/blog/jsb.jpg"
                                            class="s-img-switch wp-post-image wp-post-image" alt="" loading="lazy"
                                            srcset="assets/blog/jsb.jpg 2000w, assets/blog/jsb.jpg 300w, assets/blog/jsb.jpg768w, assets/blog/jsb.jpg 1024w"
                                            sizes="(max-width: 2000px) 100vw, 2000px" style="display: none;">
                                    </div>
                                    <div class="blog-list-content">
                                        <div class="blog-list-post-date">
                                            5 years ago </div>
                                        <h3 class="blog-list-post-title"><a
                                                href=""
                                                target="_self">Bridge construction</a></h3>
                                        <div class="blog-list-post-excerpt">
                                            <p></p>
                                            <p>Holland’s bigger Bridge is currently under construction and will be ready
                                                for students Fall 2017.</p>
                                            <p></p>
                                        </div>
                                        <a href=""
                                            class="blog-list-link a-btn-arrow-2" target="_self">
                                            <span class="arrow-right"></span>
                                            READ </a>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="blog-post col-xs-12  p_f_098f6bc column_paralax">
                                <div class="prague-blog-list-wrapper">
                                    <div class="blog-list-img s-back-switch"
                                        style="background-image: url(&quot;https://prague.foxthemes.me/wp-content/uploads/2017/02/a6ec5612273735.56265d52bc52e-1.jpg&quot;);">
                                        <img width="1920" height="1070"
                                            src="https://prague.foxthemes.me/wp-content/uploads/2017/02/a6ec5612273735.56265d52bc52e-1.jpg"
                                            class="s-img-switch wp-post-image wp-post-image" alt="" loading="lazy"
                                            srcset="https://prague.foxthemes.me/wp-content/uploads/2017/02/a6ec5612273735.56265d52bc52e-1.jpg 1920w, https://prague.foxthemes.me/wp-content/uploads/2017/02/a6ec5612273735.56265d52bc52e-1-300x167.jpg 300w, https://prague.foxthemes.me/wp-content/uploads/2017/02/a6ec5612273735.56265d52bc52e-1-768x428.jpg 768w, https://prague.foxthemes.me/wp-content/uploads/2017/02/a6ec5612273735.56265d52bc52e-1-1024x571.jpg 1024w"
                                            sizes="(max-width: 1920px) 100vw, 1920px" style="display: none;">
                                    </div>
                                    <div class="blog-list-content">
                                        <div class="blog-list-post-date">
                                            5 years ago </div>
                                        <h3 class="blog-list-post-title"><a
                                                href=""
                                                target="_self">Time Inc. architectura</a></h3>
                                        <div class="blog-list-post-excerpt">
                                            <p></p>
                                            <p>The design of the new Time Inc. headquarters was mentioned in an
                                                Architectural Record article discussing the office of the future.</p>
                                            <p></p>
                                        </div>
                                        <a href=""
                                            class="blog-list-link a-btn-arrow-2" target="_self">
                                            <span class="arrow-right"></span>
                                            READ </a>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="blog-post col-xs-12  ">
                                <div class="prague-blog-list-wrapper">
                                    <div class="blog-list-img s-back-switch"
                                        style="background-image: url(&quot;https://prague.foxthemes.me/wp-content/uploads/2017/02/stock-photo-164383997.jpg&quot;);">
                                        <img width="2000" height="1373"
                                            src="https://prague.foxthemes.me/wp-content/uploads/2017/02/stock-photo-164383997.jpg"
                                            class="s-img-switch wp-post-image wp-post-image" alt="" loading="lazy"
                                            srcset="https://prague.foxthemes.me/wp-content/uploads/2017/02/stock-photo-164383997.jpg 2000w, https://prague.foxthemes.me/wp-content/uploads/2017/02/stock-photo-164383997-300x206.jpg 300w, https://prague.foxthemes.me/wp-content/uploads/2017/02/stock-photo-164383997-768x527.jpg 768w, https://prague.foxthemes.me/wp-content/uploads/2017/02/stock-photo-164383997-1024x703.jpg 1024w"
                                            sizes="(max-width: 2000px) 100vw, 2000px" style="display: none;">
                                    </div>
                                    <div class="blog-list-content">
                                        <div class="blog-list-post-date">
                                            5 years ago </div>
                                        <h3 class="blog-list-post-title"><a
                                                href=""
                                                target="_self">How we built big yellow tunnel in LA</a></h3>
                                        <div class="blog-list-post-excerpt">
                                            <p></p>
                                            <p>We buildt one of the Montreal Metro’s four routes operating in Montreal,
                                                Quebec, Canada.</p>
                                            <p></p>
                                        </div>
                                        <a href=""
                                            class="blog-list-link a-btn-arrow-2" target="_self">
                                            <span class="arrow-right"></span>
                                            READ </a>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="blog-post col-xs-12  ">
                                <div class="prague-blog-list-wrapper">
                                    <div class="blog-list-img s-back-switch"
                                        style="background-image: url(&quot;https://prague.foxthemes.me/wp-content/uploads/2017/03/proc5.jpg&quot;);">
                                        <img width="570" height="371"
                                            src="https://prague.foxthemes.me/wp-content/uploads/2017/03/proc5.jpg"
                                            class="s-img-switch wp-post-image wp-post-image" alt="" loading="lazy"
                                            srcset="https://prague.foxthemes.me/wp-content/uploads/2017/03/proc5.jpg 570w, https://prague.foxthemes.me/wp-content/uploads/2017/03/proc5-300x195.jpg 300w"
                                            sizes="(max-width: 570px) 100vw, 570px" style="display: none;">
                                    </div>
                                    <div class="blog-list-content">
                                        <div class="blog-list-post-date">
                                            5 years ago </div>
                                        <h3 class="blog-list-post-title"><a
                                                href=""
                                                target="_self">Tom Krizmanic speaks about Neutral Design</a></h3>
                                        <div class="blog-list-post-excerpt">
                                            <p></p>
                                            <p>Tom Krizmanic recently spoke about age-neutral design in the workplace as
                                                part of a three-person …</p>
                                            <p></p>
                                        </div>
                                        <a href=""
                                            class="blog-list-link a-btn-arrow-2" target="_self">
                                            <span class="arrow-right"></span>
                                            READ </a>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="blog-post col-xs-12   column_paralax">
                                <div class="prague-blog-list-wrapper">
                                    <div class="blog-list-img s-back-switch"
                                        style="background-image: url(&quot;https://prague.foxthemes.me/wp-content/uploads/2017/02/34ddf446488615.5856b7e039657.jpg&quot;);">
                                        <img width="1285" height="1500"
                                            src="https://prague.foxthemes.me/wp-content/uploads/2017/02/34ddf446488615.5856b7e039657.jpg"
                                            class="s-img-switch wp-post-image wp-post-image" alt="" loading="lazy"
                                            srcset="https://prague.foxthemes.me/wp-content/uploads/2017/02/34ddf446488615.5856b7e039657.jpg 1285w, https://prague.foxthemes.me/wp-content/uploads/2017/02/34ddf446488615.5856b7e039657-257x300.jpg 257w, https://prague.foxthemes.me/wp-content/uploads/2017/02/34ddf446488615.5856b7e039657-768x896.jpg 768w, https://prague.foxthemes.me/wp-content/uploads/2017/02/34ddf446488615.5856b7e039657-877x1024.jpg 877w"
                                            sizes="(max-width: 1285px) 100vw, 1285px" style="display: none;">
                                    </div>
                                    <div class="blog-list-content">
                                        <div class="blog-list-post-date">
                                            5 years ago </div>
                                        <h3 class="blog-list-post-title"><a
                                                href=""
                                                target="_self">Creature interior</a></h3>
                                        <div class="blog-list-post-excerpt">
                                            <p></p>
                                            <p>We design a new building on Nickelodeon’s Burbank campus makes the
                                                “pages” : “The new state-of-the-art five-story glass structure will …
                                            </p>
                                            <p></p>
                                        </div>
                                        <a href=""
                                            class="blog-list-link a-btn-arrow-2" target="_self">
                                            <span class="arrow-right"></span>
                                            READ </a>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="blog-post col-xs-12  ">
                                <div class="prague-blog-list-wrapper">
                                    <div class="blog-list-img s-back-switch"
                                        style="background-image: url(&quot;https://prague.foxthemes.me/wp-content/uploads/2017/01/AdobeStock_74548514.jpg&quot;);">
                                        <img width="2000" height="1333"
                                            src="https://prague.foxthemes.me/wp-content/uploads/2017/01/AdobeStock_74548514.jpg"
                                            class="s-img-switch wp-post-image wp-post-image" alt="" loading="lazy"
                                            srcset="https://prague.foxthemes.me/wp-content/uploads/2017/01/AdobeStock_74548514.jpg 2000w, https://prague.foxthemes.me/wp-content/uploads/2017/01/AdobeStock_74548514-300x200.jpg 300w, https://prague.foxthemes.me/wp-content/uploads/2017/01/AdobeStock_74548514-768x512.jpg 768w, https://prague.foxthemes.me/wp-content/uploads/2017/01/AdobeStock_74548514-1024x682.jpg 1024w"
                                            sizes="(max-width: 2000px) 100vw, 2000px" style="display: none;">
                                    </div>
                                    <div class="blog-list-content">
                                        <div class="blog-list-post-date">
                                            5 years ago </div>
                                        <h3 class="blog-list-post-title"><a
                                                href=""
                                                target="_self">How to discover Yourself in 7 steps</a></h3>
                                        <div class="blog-list-post-excerpt">
                                            <p></p>
                                            <p>Everyone wants to know their inner calling, and that includes me. We know
                                                that if we only know …</p>
                                            <p></p>
                                        </div>
                                        <a href=""
                                            class="blog-list-link a-btn-arrow-2" target="_self">
                                            <span class="arrow-right"></span>
                                            READ </a>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="blog-post col-xs-12  ">
                                <div class="prague-blog-list-wrapper">
                                    <div class="blog-list-img s-back-switch"
                                        style="background-image: url(&quot;https://prague.foxthemes.me/wp-content/uploads/2017/01/5eab1e28066719.560a3f2002705.jpg&quot;);">
                                        <img width="1200" height="703"
                                            src="https://prague.foxthemes.me/wp-content/uploads/2017/01/5eab1e28066719.560a3f2002705.jpg"
                                            class="s-img-switch wp-post-image wp-post-image" alt="" loading="lazy"
                                            srcset="https://prague.foxthemes.me/wp-content/uploads/2017/01/5eab1e28066719.560a3f2002705.jpg 1200w, https://prague.foxthemes.me/wp-content/uploads/2017/01/5eab1e28066719.560a3f2002705-300x176.jpg 300w, https://prague.foxthemes.me/wp-content/uploads/2017/01/5eab1e28066719.560a3f2002705-768x450.jpg 768w, https://prague.foxthemes.me/wp-content/uploads/2017/01/5eab1e28066719.560a3f2002705-1024x600.jpg 1024w"
                                            sizes="(max-width: 1200px) 100vw, 1200px" style="display: none;">
                                    </div>
                                    <div class="blog-list-content">
                                        <div class="blog-list-post-date">
                                            5 years ago </div>
                                        <h3 class="blog-list-post-title"><a
                                                href=""
                                                target="_self">Little house in forest</a></h3>
                                        <div class="blog-list-post-excerpt">
                                            <p></p>
                                            <p>This efficient little garage is designed to accommodate three uses: a two
                                                car garage, potting alcove or shop, and a small cottage plan above …</p>
                                            <p></p>
                                        </div>
                                        <a href=""
                                            class="blog-list-link a-btn-arrow-2" target="_self">
                                            <span class="arrow-right"></span>
                                            READ </a>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="blog-post col-xs-12   column_paralax">
                                <div class="prague-blog-list-wrapper">
                                    <div class="blog-list-img s-back-switch"
                                        style="background-image: url(&quot;https://prague.foxthemes.me/wp-content/uploads/2017/02/82087616021177.5629a1ab92b1a-1.jpg&quot;);">
                                        <img width="600" height="400"
                                            src="https://prague.foxthemes.me/wp-content/uploads/2017/02/82087616021177.5629a1ab92b1a-1.jpg"
                                            class="s-img-switch wp-post-image wp-post-image" alt="" loading="lazy"
                                            srcset="https://prague.foxthemes.me/wp-content/uploads/2017/02/82087616021177.5629a1ab92b1a-1.jpg 600w, https://prague.foxthemes.me/wp-content/uploads/2017/02/82087616021177.5629a1ab92b1a-1-300x200.jpg 300w"
                                            sizes="(max-width: 600px) 100vw, 600px" style="display: none;">
                                    </div>
                                    <div class="blog-list-content">
                                        <div class="blog-list-post-date">
                                            5 years ago </div>
                                        <h3 class="blog-list-post-title"><a
                                                href=""
                                                target="_self">Promotion to Principal</a></h3>
                                        <div class="blog-list-post-excerpt">
                                            <p></p>
                                            <p>Our parthners are proud to announce the promotion of Alexandra Villegas
                                                to Principal in our office in Prague.</p>
                                            <p></p>
                                        </div>
                                        <a href=""
                                            class="blog-list-link a-btn-arrow-2" target="_self">
                                            <span class="arrow-right"></span>
                                            READ </a>
                                    </div>
                                </div>
                            </div> -->
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vc_row-full-width vc_clearfix"></div>
</div>  

</section>
