<!-- 
<div class="vc_row wpb_row vc_row-fluid  margin-lg-0t">
    <div class="wpb_column vc_column_container vc_col-sm-12 ">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <section class="heading  left dark ">

                    <div class="subtitle ">TESTIMONIALS</div>
                    <h2 class="title">They love us.</h2>

                </section>
            </div>
        </div>
    </div>
</div> -->

 <div class="vc_row wpb_row vc_row-fluid  margin-lg-10t margin-lg-145b margin-sm-70b"   >
    <div class="wpb_column vc_column_container vc_col-sm-12 ">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="testimonials-wrapper  no-figure">
                    <div class="testimonials-swiper swiper-container swiper-unique-id-0 initialized swiper-container-vertical"
                        data-speed="2000" data-loop="1" data-autoplay="3000" data-center="0" data-mode="vertical"
                        data-slides-per-view="1" data-lg-slides="1,0" data-md-slides="1,0" data-sm-slides="1,0"
                        data-xs-slides="1,0" id="swiper-unique-id-0" style="height: 305px;">
                       
                        <!-- Additional required wrapper -->
                       
                            <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next"
                                data-swiper-slide-index="3" style="height: 306px;">
                                <div class="testimonials-item">

                                    <span class="testimonials-icon fa fa fa-quote-right"></span>

                                    <blockquote class="testimonials-description">
                                        <p>Incredible as always. This guys have excellent taste,modeling, texturing
                                            &amp; rendering skills. The design fits in with what I would perceive as
                                            being Icelandic, the high wooden roof design and linear slatted interior
                                            elements and colours.</p>
                                    </blockquote>
                                    <h4 class="testimonials-author">John Frick</h4>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-slide-index="0" style="height: 306px;">
                                <div class="testimonials-item">

                                    <span class="testimonials-icon fa fa fa-quote-right"></span>

                                    <blockquote class="testimonials-description">
                                        <p>Incredible as always. This guys have excellent taste,modeling, texturing
                                            &amp; rendering skills. The design fits in with what I would perceive as
                                            being Icelandic, the high wooden roof design and linear slatted interior
                                            elements and colours.</p>
                                    </blockquote>
                                    <h4 class="testimonials-author">Mark Eganberg</h4>
                                </div>
                            </div>

                            <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="1"
                                style="height: 306px;">
                                <div class="testimonials-item">

                                    <span class="testimonials-icon fa fa fa-quote-right"></span>

                                    <blockquote class="testimonials-description">
                                        <p>Incredible as always. This guys have excellent taste,modeling, texturing
                                            &amp; rendering skills. The design fits in with what I would perceive as
                                            being Icelandic, the high wooden roof design and linear slatted interior
                                            elements and colours.</p>
                                    </blockquote>
                                    <h4 class="testimonials-author">Jennifer Hilbertson</h4>
                                </div>
                            </div>

                            <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="2"
                                style="height: 306px;">
                                <div class="testimonials-item">

                                    <span class="testimonials-icon fa fa fa-quote-right"></span>

                                    <blockquote class="testimonials-description">
                                        <p>Incredible as always. This guys have excellent taste,modeling, texturing
                                            &amp; rendering skills. The design fits in with what I would perceive as
                                            being Icelandic, the high wooden roof design and linear slatted interior
                                            elements and colours.</p>
                                    </blockquote>
                                    <h4 class="testimonials-author">Lesley Grand</h4>
                                </div>
                            </div>

                            <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="3"
                                style="height: 306px;">
                                <div class="testimonials-item">

                                    <span class="testimonials-icon fa fa fa-quote-right"></span>

                                    <blockquote class="testimonials-description">
                                        <p>Incredible as always. This guys have excellent taste,modeling, texturing
                                            &amp; rendering skills. The design fits in with what I would perceive as
                                            being Icelandic, the high wooden roof design and linear slatted interior
                                            elements and colours.</p>
                                    </blockquote>
                                    <h4 class="testimonials-author">John Frick</h4>
                                </div>
                            </div>

                            <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0"
                                style="height: 306px;">
                                <div class="testimonials-item">

                                    <span class="testimonials-icon fa fa fa-quote-right"></span>

                                    <blockquote class="testimonials-description">
                                        <p>Incredible as always. This guys have excellent taste,modeling, texturing
                                            &amp; rendering skills. The design fits in with what I would perceive as
                                            being Icelandic, the high wooden roof design and linear slatted interior
                                            elements and colours.</p>
                                    </blockquote>
                                    <h4 class="testimonials-author">Mark Eganberg</h4>
                                </div>
                            </div>
                     
                        <!-- If we need pagination -->
                        <div class="testimonials-pagination-wrapper">
                            <div
                                class="swiper-pagination pagination-swiper-unique-id-0 swiper-pagination-clickable swiper-pagination-bullets">
                                <span class="swiper-pagination-bullet">Mark Eganberg</span><span
                                    class="swiper-pagination-bullet">Jennifer Hilbertson</span><span
                                    class="swiper-pagination-bullet swiper-pagination-bullet-active">Lesley
                                    Grand</span><span class="swiper-pagination-bullet">John Frick</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div> 



<!-- boostrap -->

<div class="vc_row wpb_row vc_row-fluid  margin-lg-0t">
    <div class="wpb_column vc_column_container vc_col-sm-12 ">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <section class="heading center dark ">

                    <div class="subtitle ">TESTIMONIALS</div>
                    <h2 class="title ">They love us.</h2>

                </section>
            </div>
        </div>
    </div>
</div> 
<div class="text-center ">
 <div class="vc_row wpb_row vc_row-fluid  margin-lg-10t margin-lg-145b margin-sm-70b">
    <div class="wpb_column vc_column_container vc_col-sm-12 ">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="testimonials-wrapper  no-figure">
                    <div class="testimonials-swiper swiper-container swiper-unique-id-0 initialized swiper-container-vertical"
                        data-speed="2000" data-loop="1" data-autoplay="3000" data-center="0" data-mode="vertical"
                        data-slides-per-view="1" data-lg-slides="1,0" data-md-slides="1,0" data-sm-slides="1,0"
                        data-xs-slides="1,0" id="swiper-unique-id-0" style="height: 305px;">
                      
                       
<!--  -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
          
            <div class="testimonials-item">

                <span class="testimonials-icon fa fa fa-quote-right"></span>

                <blockquote class="testimonials-description">
                    <p>Incredible as always. This guys have excellent taste,modeling, texturing
                        &amp; rendering skills. The design fits in with what I would perceive as
                        being Icelandic, the high wooden roof design and linear slatted interior
                        elements and colours.</p>
                </blockquote>
                <h4 class="testimonials-author">John Frick</h4>
            </div>
      
            <div class="carousel-caption d-none d-md-block">
              
              

            </div>
        </div>
        <div class="carousel-item">
           
            <div class="testimonials-item">

                    <span class="testimonials-icon fa fa fa-quote-right"></span>

                    <blockquote class="testimonials-description">
                        <p>Incredible as always. This guys have excellent taste,modeling, texturing
                            &amp; rendering skills. The design fits in with what I would perceive as
                            being Icelandic, the high wooden roof design and linear slatted interior
                            elements and colours.</p>
                    </blockquote>
                    <h4 class="testimonials-author">Mark Eganberg</h4>
                </div>
           
            <div class="carousel-caption d-none d-md-block">
                
            </div>
        </div>
         <div class="carousel-item">
            
            <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="1"
            style="height: 306px;">
            <div class="testimonials-item">

                <span class="testimonials-icon fa fa fa-quote-right"></span>

                <blockquote class="testimonials-description">
                    <p>Incredible as always. This guys have excellent taste,modeling, texturing
                        &amp; rendering skills. The design fits in with what I would perceive as
                        being Icelandic, the high wooden roof design and linear slatted interior
                        elements and colours.</p>
                </blockquote>
                <h4 class="testimonials-author">Jennifer Hilbertson</h4>
            </div>
        </div>
            <div class="carousel-caption d-none d-md-block">
               
            </div>
        </div> 
         <div class="carousel-item">
            
            <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="2"
            style="height: 306px;">
            <div class="testimonials-item">

                <span class="testimonials-icon fa fa fa-quote-right"></span>

                <blockquote class="testimonials-description">
                    <p>Incredible as always. This guys have excellent taste,modeling, texturing
                        &amp; rendering skills. The design fits in with what I would perceive as
                        being Icelandic, the high wooden roof design and linear slatted interior
                        elements and colours.</p>
                </blockquote>
                <h4 class="testimonials-author">Lesley Grand</h4>
            </div>
        </div>
            <div class="carousel-caption d-none d-md-block">
               
            </div>
        </div> 
      <div class="carousel-item">
            
            <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="3"
            style="height: 306px;">
            <div class="testimonials-item">

                <span class="testimonials-icon fa fa fa-quote-right"></span>

                
                    <p>Incredible as always. This guys have excellent taste,modeling, texturing
                        &amp; rendering skills. The design fits in with what I would perceive as
                        being Icelandic, the high wooden roof design and linear slatted interior
                        elements and colours.</p>
               
                <h4 class="testimonials-author">John Frick</h4>
            </div>
        </div>
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div>
        </div>  


    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

    <!--  -->

    <!--  -->
</div>

<div class="testimonials-pagination-wrapper">
    <div
        class="swiper-pagination pagination-swiper-unique-id-0 swiper-pagination-clickable swiper-pagination-bullets">
        <span class="swiper-pagination-bullet">Mark Eganberg</span><span
            class="swiper-pagination-bullet">Jennifer Hilbertson</span><span
            class="swiper-pagination-bullet swiper-pagination-bullet-active">Lesley
            Grand</span><span class="swiper-pagination-bullet">John Frick</span>
    </div>
</div>
<!--  -->
 </div>
 </div>

</div>
</div>
</div>
</div>
</div>