/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* h1{
  line-height: 56px;
    font-size: 54px !important
} */
.btn-primary-housix{
    width: 30%;
    background-color:#e54a20; /* Green */
    border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 5px 20px;
   cursor: pointer;
   border-radius: 25px;
}





/* ///////////////////////////////////////////// */

