<section class="mb-5">
    <div class="wpb_column vc_column_container vc_col-sm-12 ">
        
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">

                <section class="container-fluid top-banner no-padd big fullheight light s-back-switch"
                    style="background-image: url('assets/image/background.jpg'); min-height: 100vh;">
                    <span class="overlay"></span> <img class="s-img-switch" alt="" style="display: none;">
                    <div class="content">
                        <div class="prague-svg-animation-text">
                        </div>


                        <div class="subtitle">RAJASTHAN, INDIA</div>
                        <h1 class="title">Awesome Design for the Rajasthan Hub</h1>
                        <div class="description">
                            <p class="text-white">The main objective of the project – transformation of RAJASTHAN City in innovative</p>
                            <p class="text-white">SMART CITY (village) and tourist center.</p>
                        </div> <a href="" class="a-btn creative anima" target=" _blank">
                            <span class="a-btn-line"></span>
                            EXPLORE IT </a>
                    </div>
                    <div class="top-banner-cursor"></div>
                </section>
            </div>
        </div>
    </div>
</section>
<!-- end section 1st -->
<br>
<section class="mb-5">

    <div class="realbody" style="background-color:#EEE">
        <!-- <img src="construction-copy.jpg" alt="Some image" width="100%" height="100%"/> -->
    </div>
    <div class="backgroundforanimation">

    </div>
</section>
<!-- second section -->
<section class="mb-5">
    <div class="container">
        <div class="w-100 mb-3">
            <div class="text-center">
                <h3>Why Choose Housix ?</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="my-2 mx-auto text-center">
                    <img src="assets/image/Working remotely-rafiki.svg" alt="" class="w-100">
                </div>
                <div class="text-center">
                    <h4 class="heading-top underline">Contactless Experience</h4>
                    <p class="nonheading">No stepping out. Design your home interiors from the safety and comfort of
                        your home.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="my-2 mx-auto text-center">
                    <img src="assets/image/Remote meeting-rafiki.svg" alt="" class="w-100">
                </div>
                <div class="text-center">
                    <h4 class="heading-top underline">Online Meeting</h4>
                    <p class="nonheading">Connect with our 1400+ designers virtually and explore designs online.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="my-2 mx-auto text-center">
                    <img src="assets/image/Interior design-amico.svg" alt="" class="w-100">
                </div>
                <div class="text-center">
                    <h4 class="heading-top underline">Live 3D Designs</h4>
                    <p class="nonheading">No stepping out. Design your home interiors from the safety and comfort of
                        your home.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="my-2 mx-auto text-center">
                    <img src="assets/image/Pricing plans-rafiki.svg" alt="" class="w-100">
                </div>
                <div class="text-center">
                    <h4 class="heading-top underline">Instant Pricing</h4>
                    <p class="nonheading">No stepping out. Design your home interiors from the safety and comfort of
                        your home.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end second section -->
<br>
<!-- start of third section -->
<section class="mb-5 py-5  position-relative section2Bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-center">
                    <img src="assets/images/desgi.png" alt="asset" class="w-100 h-100">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="my-2">
                    <h2 class="title">Best Interior Designing Company!</h2>
                </div>
                <div class="my-2">
                    <div class="description">
                        <p>We're following all protocols to ensure your safety and vaccination drives are underway to
                            ensure our employees are ready to meet you safely.</p>
                        <p>No more dreaming about your interiors. Livspace Vesta brings together award-winning
                            designers, service partners and brands, to help you take your home interiors from dream to
                            reality.</p>
                    </div>
                </div>
                <div class="position-absolute" style="top:0px;right:-250px;height:250px;overflow:hidden;width:250px">
                    <img src="assets/image/designSide.gif" alt="" class="w-50">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of 3rd section -->
<br>
<!-- numbers section to be made -->
<section class="mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="prague-counter  multi_item no-figure">

                            <div class="figures ">
                                <!-- triangle -->
                            </div>

                            <div class="counter-outer s-back-switch"
                                style="padding: 10px; background-image: url('assets/image/numberBg.jpg');">

                                <img src="assets/image/numberBg.jpg" alt="" class="prague-counter-img s-img-switch"
                                    style="display: none;">

                                <div class="numbers">
                                    <svg>
                                        <defs>
                                            <mask id="coming_mask_0" x="0" y="0">
                                                <rect class="coming-alpha" x="0" y="0" width="100%" height="100%">
                                                </rect>
                                                <text class="count number" x="52%" y="47%" text-anchor="middle"
                                                    alignment-baseline="middle">157</text>
                                                <text class="count title" x="54%" y="80%" text-anchor="middle"
                                                    alignment-baseline="middle">PROJECTS DONE</text>
                                            </mask>
                                        </defs>
                                        <rect style="-webkit-mask: url(#coming_mask_0); mask: url(#coming_mask_0);"
                                            class="base" x="0" y="0" width="100%" height="100%"></rect>
                                    </svg>
                                    <svg>
                                        <defs>
                                            <mask id="coming_mask_1" x="0" y="0">
                                                <rect class="coming-alpha" x="0" y="0" width="100%" height="100%">
                                                </rect>
                                                <text class="count number" x="46%" y="47%" text-anchor="middle"
                                                    alignment-baseline="middle">86</text>
                                                <text class="count title" x="46%" y="80%" text-anchor="middle"
                                                    alignment-baseline="middle">HAPPY CLIENTS</text>
                                            </mask>
                                        </defs>
                                        <rect style="-webkit-mask: url(#coming_mask_1); mask: url(#coming_mask_1);"
                                            class="base" x="0" y="0" width="100%" height="100%"></rect>
                                    </svg>
                                    <svg>
                                        <defs>
                                            <mask id="coming_mask_2" x="0" y="0">
                                                <rect class="coming-alpha" x="0" y="0" width="100%" height="100%">
                                                </rect>
                                                <text class="count number" x="52%" y="35%" text-anchor="middle"
                                                    alignment-baseline="middle">924</text>
                                                <text class="count title" x="54%" y="68%" text-anchor="middle"
                                                    alignment-baseline="middle">WORKING HOURS</text>
                                            </mask>
                                        </defs>
                                        <rect style="-webkit-mask: url(#coming_mask_2); mask: url(#coming_mask_2);"
                                            class="base" x="0" y="0" width="100%" height="100%"></rect>
                                    </svg>
                                    <svg>
                                        <defs>
                                            <mask id="coming_mask_3" x="0" y="0">
                                                <rect class="coming-alpha" x="0" y="0" width="100%" height="100%">
                                                </rect>
                                                <text class="count number" x="46%" y="35%" text-anchor="middle"
                                                    alignment-baseline="middle">13</text>
                                                <text class="count title" x="46%" y="68%" text-anchor="middle"
                                                    alignment-baseline="middle">AWARDS</text>
                                            </mask>
                                        </defs>
                                        <rect style="-webkit-mask: url(#coming_mask_3); mask: url(#coming_mask_3);"
                                            class="base" x="0" y="0" width="100%" height="100%"></rect>
                                    </svg>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <section class="heading  left dark p-0">

                            <div class="subtitle ">NUMBERS</div>
                            <h2 class="title">Make with love<br>
                                all what we do.</h2>
                            <div class="content ">
                                <p>Our team takes over everything, from an idea and concept development to realization.
                                    We believe in traditions and incorporate them within our innovations. All our
                                    projects incorporate a unique artistic image and functional solutions.</p>
                                <p>Client is the soul of the project. Our main goal is to illustrate his/hers values and
                                    individuality through design.&nbsp;So we wait to hear your wishes.</p>
                            </div>

                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end number section -->

<br>
<!-- technology sections -->
<section class=" sectiontech">
    <div class="container">
        <div class="my-4 text-center">
            <h2>Technologies used by <span class="text-housix">H</span>ousix</h2>
        </div>
        <br>
        <div class="my-4">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-center p-3">
                        <img src="assets/technology/autocadImg.png" alt="" class="w-100">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="my-2">
                        <h3 class="underline">Autocad</h3>
                    </div>
                    <div class="my-3">
                        <p class="description">
                            How does Lorem Picsum work?
                            Lorem Picsum provides random or specific uploaded images as placeholders. Developers need to
                            specify a desired image size (width & height) at the end of the request URL. Grayscale and
                            blur effects can be applied to any image
                        </p>
                        <p class="description">
                            How does Lorem Picsum work?
                            Lorem Picsum provides random or specific uploaded images as placeholders. Developers need to
                            specify a desired image size (width & height) at the end of the request URL. Grayscale and
                            blur effects can be applied to any image
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-4">
            <div class="row">
                <div class="col-lg-6">
                    <div class="my-2 text-right">
                        <h3 class="underline text-right"> SketchUp</h3>
                    </div>
                    <div class="my-3 ">
                        <p class="description text-right">
                            How does Lorem Picsum work?
                            Lorem Picsum provides random or specific uploaded images as placeholders. Developers need to
                            specify a desired image size (width & height) at the end of the request URL. Grayscale and
                            blur effects can be applied to any image
                        </p>
                        <p class="description text-right">
                            How does Lorem Picsum work?
                            Lorem Picsum provides random or specific uploaded images as placeholders. Developers need to
                            specify a desired image size (width & height) at the end of the request URL. Grayscale and
                            blur effects can be applied to any image
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="text-center p-3">
                        <img src="assets/technology/sketchupImage.png" alt="" class="w-100">
                    </div>
                </div>
            </div>
        </div>

        <div class="my-4">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-center p-3">
                        <img src="assets/technology/photoshopImg.png" alt="" class="w-100">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="my-2">
                        <h3 class="underline">Photoshop</h3>
                    </div>
                    <div class="my-3">
                        <p class="description">
                            How does Lorem Picsum work?
                            Lorem Picsum provides random or specific uploaded images as placeholders. Developers need to
                            specify a desired image size (width & height) at the end of the request URL. Grayscale and
                            blur effects can be applied to any image
                        </p>
                        <p class="description">
                            How does Lorem Picsum work?
                            Lorem Picsum provides random or specific uploaded images as placeholders. Developers need to
                            specify a desired image size (width & height) at the end of the request URL. Grayscale and
                            blur effects can be applied to any image
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-4">
            <div class="row">
                <div class="col-lg-6">
                    <div class="my-2 text-right">
                        <h3 class="underline text-right"> V Ray</h3>
                    </div>
                    <div class="my-3 ">
                        <p class="description text-right">
                            How does Lorem Picsum work?
                            Lorem Picsum provides random or specific uploaded images as placeholders. Developers need to
                            specify a desired image size (width & height) at the end of the request URL. Grayscale and
                            blur effects can be applied to any image
                        </p>
                        <p class="description text-right">
                            How does Lorem Picsum work?
                            Lorem Picsum provides random or specific uploaded images as placeholders. Developers need to
                            specify a desired image size (width & height) at the end of the request URL. Grayscale and
                            blur effects can be applied to any image
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="text-center p-3">
                        <img src="assets/technology/vxRay.png" alt="" class="w-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end technology sections -->

<!-- second section -->
<section class="mb-5 bg-section-promis py-5">
    <div class="container">
        <div class="w-100 mb-3">
            <div class="text-center">
                <h3>Our Promise</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="my-2 mx-auto text-center">
                    <img src="assets/assets/warrenty.svg" alt="" class="w-100">
                </div>
                <div class="text-center">
                    <h4 class="heading-top underline">Up to 10-year warranty</h4>
                    <p class="nonheading ">No stepping out. Design your home interiors from the safety and comfort of
                        your home.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="mx-auto text-center" style="margin-top:150px !important">
                    <img src="assets/assets/daysDelivery1.svg" alt="" class="w-100">
                </div>
                <div class="text-center">
                    <h4 class="heading-top ">45-day delivery</h4>
                    <p class="nonheading top-border-housix-primary ">Connect with our 1400+ designers virtually and
                        explore designs online.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="mx-auto text-center">
                    <img src="assets/assets/designerTeam.svg" alt="" class="w-100">
                </div>
                <div class="text-center">
                    <h4 class="heading-top underline">5000+ expert </h4>
                    <p class="nonheading">Connect with our 1400+ designers virtually and explore designs online.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="mx-auto text-center" style="margin-top:150px !important">
                    <img src="assets/assets/daysDelivery.svg" alt="" class="w-100">
                </div>
                <div class="text-center">
                    <h4 class="heading-top ">Installation service</h4>
                    <p class="nonheading top-border-housix-primary ">Connect with our 1400+ designers virtually and
                        explore designs online.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mb-5">
    <div class="container ">
        <div class="w-100">
            <div class="project-details-slider-3d w-100">
                <iframe
                    src="https://myhub.autodesk360.com/ue283d8b2/shares/public/SH7f1edQT22b515c761ef57601e086f95852?mode=embed"
                    allowfullscreen="true" frameborder="0" id="widget2"></iframe>
            </div>
        </div>
    </div>

</section>
<!-- customized service -->
<section class="mb-5 pt-3">

    <div class="my-5 container">
        <div class="text-center">
            <h2 class="headline">Customized Service</h2>
        </div>
        <div class="my-3 text-center">
            <p>can't find that you are looking for? we will design your <br> home the way you like, keeping you needs
                and <br> budged in mind</p>
        </div>
        <div class="my-3 text-center">
            <img class="w-50" src="assets/images/customized.svg" alt="">
        </div>
        <div class="my-2 text-center"> <button class="btn btn-primary-housix">BOOK ONLINE CONSULTATION</button></div>
    </div>

</section>


<!-- section 9 DESIGN IDEA -->
<section class="mb-5 pt-4">

    <div class="my-5 container">

        <div class="text-center">
            <h2 class="design">Our's Facility</h2>
            <div class="my-3 mb-5 text-center">
                <p>check out how your dream home can look like. <br> get inspiration from Livspace's vast design.
                    <br>catalo
                    <a class="a" href="">View More...</a>
                </p>
            </div>
        </div>
    </div>

    <div class="card border-0">
        <mat-grid-list cols="3" rowHeight="2:1.4">
            <mat-grid-tile>
                <mat-card class="example-card des">
                    <img mat-card-image height="280px" src="assets/images/livingRoom.jpg" alt="photo of room">
                    <mat-card-content>
                        <p class="text-center fw-bolder">
                            Living Room
                        </p>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-card class="example-card des">
                    <img mat-card-image height="280px" src=" assets/images/kitchen.jpg" alt="photo of room">
                    <mat-card-content>
                        <p class="text-center fw-bolder">
                            Kitchen
                        </p>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="example-card des">
                    <img mat-card-image height="280px" src="assets/images/Bedroom.jpeg" alt="photo of room">
                    <mat-card-content>
                        <p class="text-center fw-bolder">
                            BedRoom
                        </p>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-card class="example-card des">
                    <img mat-card-image height="280px" src="assets/images/hallinterior.jpg" alt="photo of room">
                    <mat-card-content>
                        <p class="text-center fw-bolder">
                            Hall Interior
                        </p>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-card class="example-card des">
                    <img mat-card-image height="280px" src="assets/images/wardrobe.png" alt="photo of room">
                    <mat-card-content>
                        <p class="text-center fw-bolder">
                            Wardrobe
                        </p>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-card class="example-card des">
                    <img mat-card-image height="280px" src="assets/images/stair.jpg" alt="photo of room">
                    <mat-card-content>
                        <p class="text-center fw-bolder">
                            stair
                        </p>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>

        </mat-grid-list>
    </div>

</section>


<!--  section our desiging packages -->
<section class="mb-5 pt-4">

    <div class="my-4 container">

        <div class="text-center">
            <h2 class="design">Our's Designing Packages</h2>
            <p>unlock the best version of oour room here</p>
            <div class="my-3 mb-5 text-center">
                <p>Pick From One Of Our Three Online Designing Packages, Custom Made Keeping <br> Your Budget, Style and
                    Design Needs in Mind</p>
            </div>
        </div>


        <div class="card border-0 my-2">
            <mat-grid-list cols="3" rowHeight="3:8">

                <mat-grid-tile>
                    <mat-card class="example-card">
                        <div class="mx-4">
                            <mat-card-header>
                                <!-- <div mat-card-avatar class="example-header-image">delight</div> -->
                                <mat-card-title>Delight</mat-card-title>
                                <mat-card-subtitle> To Get You Started</mat-card-subtitle>
                            </mat-card-header>

                            <mat-card-content>

                                <p>Original Price &#x20b9;50.00
                                <p>
                                <h6>Deal Price &#x20b9;49.00</h6>
                                <p>You Save<span class="text-danger"> &#x20b9;10.00(17%) </span></p>
                            </mat-card-content>

                            <mat-card-actions>
                                <button mat-stroked-button>SELECT DELIGHT</button>

                            </mat-card-actions>
                        </div>
                        <!-- list -->
                        <mat-list class="list" role="list">

                            <mat-list-item role="listitem">
                                <mat-icon class="green">check</mat-icon> 1 Design Concept
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon class="green">check</mat-icon> 2 Deign Revision
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon class="green">check</mat-icon> 12 Days To Design delivery
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon class="green">check</mat-icon> 3D Model Of Your Furniture
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon class="green">check</mat-icon> Work 1:1 With A Design Expert
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon class="green">check</mat-icon> View Your Design In 3D
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon class="green">check</mat-icon> Ultra Rear 3D Render
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon class="green">check</mat-icon> Customized Shopping List
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon class="red">close</mat-icon> Windwo Treatment
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon class="red">close</mat-icon> Paint Recomendation
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon class="red">close</mat-icon> Live Design Revision
                            </mat-list-item>

                        </mat-list>
                        <!-- <ul>
          <li >2 Deign Revision</li>
          <li >12 Days To Design delivery </li>
          <li >3D Model Of Your Furniture</li>
          <li >Work 1:1 With A Design Expert</li>
          <li >  View Your Design In 3D  </li>
          <li >  Ultra Rear 3D Render  </li>
          <li > Customized Shopping List   </li>
          <li >  Windwo Treatment  </li>
          <li >  Paint Recomendation  </li>
          <li >  Live Design Revision  </li>
          </ul> -->
                    </mat-card>
                </mat-grid-tile>




                <mat-grid-tile>
                    <mat-card class="example-card bliss">
                        <div class="mx-4">
                            <mat-card-header>
                                <!-- <div mat-card-avatar class="example-header-image">delight</div> -->
                                <mat-card-title>Bliss</mat-card-title>
                                <mat-card-subtitle> The Right One For You Most</mat-card-subtitle>
                            </mat-card-header>

                            <mat-card-content>
                                <p>Original Price &#x20b9;129.00
                                <p>
                                <h6>Deal Price &#x20b9;99.00</h6>
                                <p>You Save<span class="text-danger">&#x20b9;30.00(23%)</span></p>
                            </mat-card-content>

                            <mat-card-actions>
                                <button mat-stroked-button class="but">SELECT BLISS</button>

                            </mat-card-actions>
                        </div>
                        <!-- list -->
                        <mat-list class="list" role="list">

                            <mat-list-item role="listitem">
                                <mat-icon class="green">check</mat-icon> 1 Design Concept
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon class="green">check</mat-icon> Unlimited Deign Revision
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon class="green">check</mat-icon> 10 Days To Design delivery
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon class="green">check</mat-icon> 3D Model Of Your Furniture
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon class="green">check</mat-icon> Work 1:1 With A Design Expert
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon class="green">check</mat-icon> View Your Design In 3D
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon class="green">check</mat-icon> Ultra Rear 3D Render
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon class="green">check</mat-icon> Customized Shopping List
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon class="green">check</mat-icon> Windwo Treatment
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon class="green">check</mat-icon> Paint Recomendation
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon class="red">close</mat-icon> Live Design Revision
                            </mat-list-item>

                        </mat-list>
                    </mat-card>
                </mat-grid-tile>



                <mat-grid-tile>
                    <mat-card class="example-card">
                        <div class="mx-4">
                            <mat-card-header>
                                <!-- <div mat-card-avatar class="example-header-image">delight</div> -->
                                <mat-card-title>Euphoria</mat-card-title>
                                <mat-card-subtitle> If you Love a Good Deal</mat-card-subtitle>
                            </mat-card-header>

                            <mat-card-content>
                                <p>Original Price &#x20b9;190.00
                                <p>
                                <h6>Deal Price &#x20b9;149.00</h6>
                                <p>You Save <span class="text-danger"> &#x20b9;50.00(25%)</span></p>
                            </mat-card-content>

                            <mat-card-actions>
                                <button mat-stroked-button>SELECT DELIGHT</button>

                            </mat-card-actions>
                        </div>
                        <!-- list -->
                        <mat-list class="list" role="list">

                            <mat-list-item role="listitem">
                                <mat-icon class="green">check</mat-icon> 1 Design Concept
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon class="green">check</mat-icon> Unlimited Deign Revision
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon class="green">check</mat-icon> 7 Days To Design delivery
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon class="green">check</mat-icon> 3D Model Of Your Furniture
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon class="green">check</mat-icon> Work 1:1 With A Design Expert
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon class="green">check</mat-icon> View Your Design In 3D
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon class="green">check</mat-icon> Ultra Rear 3D Render
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon class="green">check</mat-icon> Customized Shopping List
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon class="green">check</mat-icon> Windwo Treatment
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon class="green">check</mat-icon> Paint Recomendation
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <mat-icon class="green">check</mat-icon> Live Design Revision
                            </mat-list-item>

                        </mat-list>
                    </mat-card>
                </mat-grid-tile>


            </mat-grid-list>
        </div>
    </div>
</section>







<!-- section customer happy -->
<section class="mb-5">
    <div class="gfg">
        <img class = "bg" src="assets/images/meeting.svg" alt="" >   
          <div class="second-txt">
              <h2 >
                  &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  WE MAKE</h2>
              <h3 style=" color: #e54a20 !important; font-family: Sofia, sans-serif !important;">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  Our Customer</h3>
              <h2>       &nbsp;&nbsp;&nbsp;    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 
                  Happy</h2>
          </div>
      </div> 
</section>

  <br><br>
<!-- section Our Team Friend -->

<!-- <section class="mb-5">
    <div class="container">
<h3 class="desn">Here are just a few of</h3>
<h4 class="de"style=" color: #e54a20 !important; font-family: Sofia, sans-serif !important;">Our Friends</h4>
</div>
<div class="container  underline-0">
<mat-tab-group mat-align-tabs="end"  >

    <mat-tab  label="Organization" > <br><br>  
  <div class="container ">
  <mat-grid-list cols="6" rowHeight="2:1">
    <mat-grid-tile><img src="assets/images/pizza.svg" alt=""></mat-grid-tile>
    <mat-grid-tile><img src="assets/images/pizza.svg" alt=""></mat-grid-tile>
    <mat-grid-tile><img src="assets/images/pizza.svg" alt=""></mat-grid-tile>
    <mat-grid-tile><img src="assets/images/pizza.svg" alt=""></mat-grid-tile>
    <mat-grid-tile><img src="assets/images/pizza.svg" alt=""></mat-grid-tile>
    <mat-grid-tile><img src="assets/images/pizza.svg" alt=""></mat-grid-tile>
  </mat-grid-list>
<br>
  <mat-grid-list cols="6" rowHeight="2:1">
    <mat-grid-tile><img src="assets/images/tech.svg" alt=""></mat-grid-tile>
    <mat-grid-tile><img src="assets/images/tech.svg" alt=""></mat-grid-tile>
    <mat-grid-tile><img src="assets/images/tech.svg" alt=""></mat-grid-tile>
    <mat-grid-tile><img src="assets/images/tech.svg" alt=""></mat-grid-tile>
    <mat-grid-tile><img src="assets/images/tech.svg" alt=""></mat-grid-tile>
    <mat-grid-tile><img src="assets/images/tech.svg" alt=""></mat-grid-tile>
  </mat-grid-list>
  <br>
  <mat-grid-list cols="6" rowHeight="2:1">
    <mat-grid-tile><img src="assets/images/pizza.svg" alt=""></mat-grid-tile>
    <mat-grid-tile><img src="assets/images/pizza.svg" alt=""></mat-grid-tile>
    <mat-grid-tile><img src="assets/images/pizza.svg" alt=""></mat-grid-tile>
    <mat-grid-tile><img src="assets/images/pizza.svg" alt=""></mat-grid-tile>
    <mat-grid-tile><img src="assets/images/pizza.svg" alt=""></mat-grid-tile>
    <mat-grid-tile><img src="assets/images/pizza.svg" alt=""></mat-grid-tile>
  </mat-grid-list>
  <br>
  <mat-grid-list cols="6" rowHeight="2:1">
    <mat-grid-tile><img src="assets/images/machine.svg" alt=""></mat-grid-tile>
    <mat-grid-tile><img src="assets/images/machine.svg" alt=""></mat-grid-tile>
    <mat-grid-tile><img src="assets/images/machine.svg" alt=""></mat-grid-tile>
    <mat-grid-tile><img src="assets/images/machine.svg" alt=""></mat-grid-tile>
    <mat-grid-tile><img src="assets/images/machine.svg" alt=""></mat-grid-tile>
    <mat-grid-tile><img src="assets/images/machine.svg" alt=""></mat-grid-tile>
  </mat-grid-list>
  </div>
  </mat-tab>
  <mat-tab label="Technology">  <br><br>
    <div class="container">
        <mat-grid-list cols="6" rowHeight="2:1">
          <mat-grid-tile><img src="assets/images/pizza.svg" alt=""></mat-grid-tile>
          <mat-grid-tile><img src="assets/images/pizza.svg" alt=""></mat-grid-tile>
          <mat-grid-tile><img src="assets/images/pizza.svg" alt=""></mat-grid-tile>
          <mat-grid-tile><img src="assets/images/pizza.svg" alt=""></mat-grid-tile>
          <mat-grid-tile><img src="assets/images/pizza.svg" alt=""></mat-grid-tile>
          <mat-grid-tile><img src="assets/images/pizza.svg" alt=""></mat-grid-tile>
        </mat-grid-list>
      <br>
        <mat-grid-list cols="6" rowHeight="2:1">
          <mat-grid-tile><img src="assets/images/tech.svg" alt=""></mat-grid-tile>
          <mat-grid-tile><img src="assets/images/tech.svg" alt=""></mat-grid-tile>
          <mat-grid-tile><img src="assets/images/tech.svg" alt=""></mat-grid-tile>
          <mat-grid-tile><img src="assets/images/tech.svg" alt=""></mat-grid-tile>
          <mat-grid-tile><img src="assets/images/tech.svg" alt=""></mat-grid-tile>
          <mat-grid-tile><img src="assets/images/tech.svg" alt=""></mat-grid-tile>
        </mat-grid-list>
        <br>
        <mat-grid-list cols="6" rowHeight="2:1">
          <mat-grid-tile><img src="assets/images/pizza.svg" alt=""></mat-grid-tile>
          <mat-grid-tile><img src="assets/images/pizza.svg" alt=""></mat-grid-tile>
          <mat-grid-tile><img src="assets/images/pizza.svg" alt=""></mat-grid-tile>
          <mat-grid-tile><img src="assets/images/pizza.svg" alt=""></mat-grid-tile>
          <mat-grid-tile><img src="assets/images/pizza.svg" alt=""></mat-grid-tile>
          <mat-grid-tile><img src="assets/images/pizza.svg" alt=""></mat-grid-tile>
        </mat-grid-list>
        <br>
        <mat-grid-list cols="6" rowHeight="2:1">
          <mat-grid-tile><img src="assets/images/machine.svg" alt=""></mat-grid-tile>
          <mat-grid-tile><img src="assets/images/machine.svg" alt=""></mat-grid-tile>
          <mat-grid-tile><img src="assets/images/machine.svg" alt=""></mat-grid-tile>
          <mat-grid-tile><img src="assets/images/machine.svg" alt=""></mat-grid-tile>
          <mat-grid-tile><img src="assets/images/machine.svg" alt=""></mat-grid-tile>
          <mat-grid-tile><img src="assets/images/machine.svg" alt=""></mat-grid-tile>
        </mat-grid-list>
        </div>
  </mat-tab>
  
</mat-tab-group>
  </div>
  
</section> -->

<!-- testimonial section -->
<section class="mb-5 pt-4">
    <app-testimonials></app-testimonials>
</section>