.margin-top {
  margin-top: 20vh !important;
}

.background-img {
  background-image: url("/assets/image/background.jpg");
  background-size: cover;
  background-position: bottom;
  top: 5.5%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}


.heading-top {
  color: #000;
  font-size: 17px !important;
  margin-bottom: 6px;
}

.nonheading {
  font-size: 14px !important;
  color: #888 !important;
  margin: 0;
  margin-bottom: 15px !important;
}

.section2Bg {
  background-image: url('/assets/image/backgroundElement.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.sectiontech {
  background-image: url('/assets/image/bgSectionsecond.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
}

.bg-section-promis {
  background-image: url('/assets/image/backgroundPromis.gif');
  background-size: cover;
  background-repeat: no-repeat;
}

.project-details-slider-3d {
  width: 100%;
  height: 630px;
  margin-top: 50px;
}

.project-details-slider-3d iframe {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}

/* h1{
  line-height: 56px;
    font-size: 54px !important
} */


/* cutomized service */
#btn-primary-housix{
  /* width: 30%; */
  background-color:#e54a20; /* Green */
  border: none;
 color: white;
 /* padding: 15px 32px; */
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 /* margin: 5px 20px; */
 cursor: pointer;
 border-radius: 25px;
}

  /* .button3 {width: 100%;}
  .button {
    background-color: #c01919; 
     border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    margin: 100px 170px;
    cursor: pointer;
  }   */

/* section Design ideas */

.design {
  border-left: 6px solid #e54a20;
  /* used line draw */
  height: 30px;
  /* position:absolute;  */
  display: inline;
  padding-left: 20px;
}

.a {
  color: #e54a20;
  font-weight: bold;
  text-decoration: none;

}

.a:link {
  color: #c01919;
}

.a:hover {
  color: rgb(12, 88, 250);
}

.a:active {
  color: rgb(212, 7, 134);
}

.example-card {
  max-width: 400px;
  border-radius: 25px;
  display: inline block;
}

.example-header-image {
  background-size: cover;
}

.card {
  padding: 0px;
  margin: 0px;
}


.green {
  color: rgb(13, 233, 13);
}

.red {
  color: red;
}

.list {
  font-size: 5px;
}

.but {
  background-color: #e54a20;
  /* orange*/
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 20px;
  cursor: pointer;
  border-radius: 25px;
}



/* bliss card hover & background */
.bliss {
  display: block;
  top: 0px;
  position: relative;
  background-color: rgb(252, 199, 180);
  text-decoration: none;
  overflow: hidden;
}

.bliss:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  background-color: rgb(255, 255, 255);
}

.bliss:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 3rem 3rem 0;
  border-style: solid;
  border-color: red white;
}

.bliss:hover:before {
  transform: scale(1);
}

/*end design ideas  */


.des:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 6px 10px #fa6035;
  
  top: -4px;
  border: 1px solid #cccccc;
  background-color: white;
}


/* section friend  */

.desn {
  margin-left: 95px;
  border-top: 4px solid #e54a20;
  /* used line draw */
  width: 10px;
  display: inline;
  padding: 20px;
}
#desn {

  border-top: 4px solid #e54a20;
  /* used line draw */
  width: 10px;
  display: inline;
  padding: 20px;
}

.de {
  margin-left: 150px;
  color: #e54a20 !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

.tab {
  border-bottom: #e54a20 !important;
  margin-left: 500px;
}

/* mat tab  */
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: black;
  background-color: #e54a20;


}

::ng-deep .mat-tab-list .mat-tab-labels {
  color: blue;

}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* section we make customer happy */
.bg {
  width: 70%;
  margin-left: 250px;
}

.gfg {
  margin: 3%;

  position: relative;
  padding-right: 45%;
}

.second-txt {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);

}

/* we make cutomer happy */
.we {
  padding-left: 50% !important;
}

/* experience section */
.m {
  padding-left: 25% !important;
}

.t {
  vertical-align: middle;
}

/* section 15 */

/* .pd{
  margin-left: 6%;
} */
.den {
  margin-left: 200px;
  border-top: 4px solid #e54a20;
  /* used line draw */
  width: 5px;
  display: inline;
}
#den {
  
  border-top: 4px solid #e54a20;
  /* used line draw */
  width: 5px;
  display: inline;
}
/* resposibe screen */

.displaynone {
  display: block;
}
.displaynone1{
display: none;
}
#dis{
  display: block;
}
#dis1{
  display: none;
}
#hap{
  display: block;
}
#hap1{
  display: none;
}
.fri{
  display: block;
}
.fri1{
  display: none;
}
#blog1{
  display: none;
}
#blog{
  display: block;
}
#exp1{
  display: none;
}
#exp{
  display: block;
}
#cust{
  display: block;
}
#cust1{
display: none;}
#b{
  display: block;
}
#b1{
  display: none;
}
#frame{
  display: block;
}
#frame1{
  display: none;
}
#main{
  display: block;
}
#main1{
  display: none;
}
@media only screen and (max-width:780px) {
  #main{
    display: none;
}
#main1{
    display: block;
}
  #frame{
    display: none;
  }
  #frame1{
    display: block;
  }
  #b{
    display: none;
  }
  #b1{
    display: block;
  }
  .fri1{
    display: block;
  }
  .fri{
    display: none;
  }
  .displaynone {
    display: none !important;
  }
  .displaynone1{
    display: block !important;
  }
  #dis{
    display: none;
  }
  #dis1{
    display: block;
  }
  #hap{
    display: none;
  }
  #hap1{
    display: block;
  }
  #blog{
    display: none;
  }
  #blog1{
    display: block;
  }
  #exp1{
    display: block;
  }
  #exp{
    display: none;
  }
  #cust{
    display: none;
  }
  #cust1{
  display: block;}
}

/* slider navigation background image */

.main{
  /* width: 100%;
  height: 100%; */
  /* position: absolute; */
  /* left: 50%;
  top: 50%;
  transform: translate(-50%,-50%); */
  background-image: url('https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  /* background-size: 100% 100%;
  box-shadow: 1px 2px 10px 5px yellow; */
  /* animation: slider 80s infinite ;  */


 
}
 @keyframes slider{
  0%{background-image: url('https://images.pexels.com/photos/7045712/pexels-photo-7045712.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');}
  10%{background-image: url('https://images.pexels.com/photos/7045712/pexels-photo-7045712.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');}
  10%{background-image: url('https://www.beautifulhomes.com/content/dam/beautifulhomes/images/202202/lighting-can-change-the-way-you-perceive-colours-in-your-home/Title-sofology-1379819.jpg');}
  20%{background-image: url('https://images.pexels.com/photos/584399/living-room-couch-interior-room-584399.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');}
 20%{background-image: url('https://www.beautifulhomes.com/content/dam/beautifulhomes/images/202202/upgrade-your-home-decor-with-asian-paints-signature-trends/Title-asian-paints-11th-nov-202012594.jpg');}
  20%{background-image: url('https://images.pexels.com/photos/7195577/pexels-photo-7195577.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');}
20%{  background-image: url('https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');

}
} 




.view {
  position: relative;
  cursor: default;
  overflow: hidden;
}
.tourism-view {
  background-image: url('https://www.irctctourism.com/assets/img/tourism-view.webp');
  height: 350px;
  width: 100%;
  top: auto;
  bottom: 10px;
  z-index: 1;
  background-repeat: repeat;
    position: absolute;
    left: 0;
}
.flight{
background-image: url('https://www.irctctourism.com/assets/img/flight.webp');
    height: 48px;
    width: 160px;
    top: 15px;
    z-index: 1;
    animation: 150s linear infinite flight;
}
.train {
  background-image: url('https://www.irctctourism.com/assets/img/htrain.webp');
  height: 60px;
  width: 1644px;
  bottom: 93px;
  animation: 50s linear infinite train;
  background-repeat: repeat;
    top: auto;
    position: absolute;
    z-index: 1;
    left: 0;

}
.bus {
  background-image: url('https://www.irctctourism.com/assets/img/bus.webp');
  height: 58px;
  width: 150px;
  bottom: 78px;
  animation: 45s linear infinite reverse bus;
  background-repeat: repeat;
  top: auto;
  position: absolute;
  z-index: 1;
  left: 0;
}
.cruise {
  background-image: url('https://www.irctctourism.com/assets/img/cruise.webp');
  height: 102px;
  width: 339px;
  bottom: 15px;
  animation: 90s linear infinite cruise;
  background-repeat: repeat;
    top: auto;
    position: absolute;
    z-index: 1;
    left: 0;
}
.background {
  background-color: #348abb;
  position: absolute;
  height: 137px;
  width: 100vw;
  bottom: 0;
}
.background .water {
  background: url('https://www.irctctourism.com/assets/img/sea.webp');
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  filter: url(#turbulence);
}